@charset "UTF-8";
/* MODAL */
.ui-dialog { font-family: "nskr"; font-size: inherit; padding: 0; }

.ui-dialog a, .ui-dialog select, .ui-dialog input, .ui-dialog button { font-family: "nskr"; }

.ui-dialog .ui-widget-header { border: none; }

.ui-dialog .ui-widget-header.ui-dialog-titlebar { padding: 40px 50px 0; border-radius: 0; background: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-dialog .ui-widget-header.ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close { width: 24px; height: 24px; top: inherit; right: 50px; margin: 0; border: none; background: url("/assets/images/icon/icon_modal_close.svg"); }

.ui-dialog .ui-widget-header.ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close .ui-icon { display: none; }

.ui-dialog .ui-widget-header .ui-dialog-title { font-size: 18px; font-weight: 700; margin: 0; line-height: 26.06px; }

.ui-dialog.mini .ui-widget-header { border: none; }

.ui-dialog.mini .ui-widget-header.ui-dialog-titlebar { padding: 30px 40px 0; }

.ui-dialog.mini .ui-widget-header.ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }

.ui-dialog.mini .ui-dialog-content { padding: 0 40px 30px; }

.ui-dialog.mini-info .ui-widget-header { border: none; }

.ui-dialog.mini-info .ui-widget-header.ui-dialog-titlebar { padding: 30px 40px 0; }

.ui-dialog.mini-info .ui-widget-header.ui-dialog-titlebar .ui-dialog-titlebar-close { right: 30px; }

.ui-dialog.mini-info .ui-widget-header.ui-dialog-titlebar .ui-dialog-title { display: none; }

.ui-dialog.mini-info .ui-dialog-content { margin-top: 25px; padding: 0 40px 30px; }

.ui-dialog.small-space.ui-widget-content { border-radius: 0; -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.24); box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.24); }

.ui-dialog.small-space .ui-widget-header.ui-dialog-titlebar { padding: 16px 16px 0; }

.ui-dialog.small-space .ui-widget-header.ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close { right: 16px; }

.ui-dialog.small-space .ui-dialog-content { padding: 0 16px 16px; }

.ui-dialog .ui-dialog-content { padding: 0 50px 40px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-dialog.ui-widget-content { border: none; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 8px; }

.ui-widget-overlay { opacity: 0.5; background: #000; }

/* Tabs */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font: inherit; }

.ui-widget.ui-tabs { font-family: "nskr"; border: none; padding: 0; }

.ui-widget.ui-tabs .ui-tabs-nav { padding: 0; border: none; background: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.ui-widget.ui-tabs .ui-tabs-nav li { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; border: none; margin: 0 0 0 4px; }

.ui-widget.ui-tabs .ui-tabs-nav li:first-child { margin-left: 0; }

.ui-widget.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { font-family: "nskr"; font-size: 14px; font-weight: 700; display: inline-block; width: 100%; color: #aeaeae; border-radius: 4px 4px 0px 0px; padding: 10px; text-align: center; background: #f4f4f4; }

.ui-widget.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor { color: #fff; background: #2763ba; }

.ui-widget.ui-tabs .ui-tabs-panel { padding: 12px; border: 1px solid #e5e5e5; border-radius: 0; }

/* Tooltip */
.tooltip-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tooltip-area a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 8px; margin-right: 8px; }

.ui-tooltip { display: inline-block; padding: 12px; color: white; border-radius: 8px; background: black; font-size: 14px; font-weight: 400; -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); }

.ui-tooltip.ui-widget-content { border-width: 0; }

.ui-tooltip .arrow { width: 70px; height: 16px; overflow: hidden; position: absolute; left: 50%; margin-left: -57px; bottom: -12px; }

.ui-tooltip .arrow:after { display: inline-block; background: black; border: 0; }

.ui-tooltip .arrow.top { top: -12px; bottom: auto; }

.ui-tooltip .arrow.left { left: 20%; }

.ui-tooltip .arrow:after { content: ""; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; -webkit-box-shadow: 6px 5px 9px -9px black; box-shadow: 6px 5px 9px -9px black; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.ui-tooltip .arrow.top:after { bottom: -20px; top: auto; }

.ui-tooltip.tooltip-right .arrow { left: 100%; bottom: -12px; }

:root { font-size: 10px; }

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

#u-skip { position: relative; z-index: 3000; }

#u-skip a { position: absolute; top: -30px; left: 0; width: 138px; border: 1px solid #ababab; background: #333; text-align: center; }

#u-skip a:active, #u-skip a:focus { top: 0; text-decoration: none; z-index: 1000; }

#u-skip span { display: inline-block; padding: 2px 6px 0 0; font-size: 13px; line-height: 26px; color: #fff; letter-spacing: -1px; white-space: nowrap; }

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul { margin: 0; padding: 0; }

body, button, input, select, table, textarea { color: #000; font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif; }

body::-webkit-scrollbar, body ::-webkit-scrollbar { width: 8px; height: 8px; }

body::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.4); border-radius: 4px; background-clip: padding-box; border: 1px solid transparent; }

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track { background: transparent; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; line-height: inherit; }

textarea { -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: transparent; border: 0; word-break: keep-all; word-wrap: break-word; }

button, input { border-radius: 0; border: 0; }

button { background-color: transparent; }

fieldset, img { border: 0; }

img { vertical-align: top; }

ol, ul { list-style: none; }

address, em { font-style: normal; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: underline; }

iframe { overflow: hidden; margin: 0; border: 0; padding: 0; vertical-align: top; }

mark { background-color: transparent; }

i { font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Light"), url("/assets/fonts/NotoSansKR-Light.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSans-Regular"), url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Regular.woff") format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSans-Medium"), url("/assets/fonts/NotoSansKR-Medium.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Bold"), url("/assets/fonts/NotoSansKR-Bold.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Bold.woff") format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Black"), url("/assets/fonts/NotoSansKR-Black.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

body, button, input, select, table, textarea { color: #000; font-family: "nskr", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif; font-weight: 400; }

input { font-size: 14px; font-weight: 700; border: 1px solid #dcdcdc; border-radius: 4px; padding: 12px; height: 36px; line-height: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.h1 { font-family: "nskr"; font-weight: 900; }

.h2 { font-family: "nskr"; font-weight: 700; }

.h3 { font-family: "nskr"; font-weight: 500; }

.-color--blue-1 { color: #1f4f95; }

.wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; max-width: auto; min-width: 1900px; min-height: 100vh; }

.wrapper.f-none { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.wrapper.f-none #header + .container { min-height: calc(100vh - 56px); }

#header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 56px; padding: 0 24px; background-color: #2763BA; }

#header .logo { width: 220px; background: url("/assets/images/common/logo_header_x2.png") no-repeat 0 0/100% auto; }

#header .logo a { display: block; height: 24px; text-indent: -9999px; }

#header .sch-member { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .sch-member .sch-field-area { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 24px; }

#header .sch-member .sch-field-area .field .inp-field { width: 220px; height: 32px; border: 1px solid #fff; border-radius: 4px; padding-left: 12px; padding-right: 42px; background-color: #2B65B8; font-weight: 500; font-size: 14px; color: #fff; outline: transparent; }

#header .sch-member .sch-field-area .field .inp-field::-webkit-input-placeholder { font-weight: 500; font-size: 14px; color: #fff; }

#header .sch-member .sch-field-area .field .inp-field:-ms-input-placeholder { font-weight: 500; font-size: 14px; color: #fff; }

#header .sch-member .sch-field-area .field .inp-field::-ms-input-placeholder { font-weight: 500; font-size: 14px; color: #fff; }

#header .sch-member .sch-field-area .field .inp-field::placeholder { font-weight: 500; font-size: 14px; color: #fff; }

#header .sch-member .sch-field-area .bar-col { height: 16px; width: 1px; margin-right: 8px; margin-left: 8px; background-color: #dcdcdc; }

#header .sch-member .sch-field-area .btn-zoom { position: absolute; top: 50%; right: 12px; width: 24px; height: 24px; background: url("/assets/images/icon/icon_zoom.svg") no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#header .sch-member .user-avartar { width: 32px; height: 32px; border: 1px solid #fff; border-radius: 50%; overflow: hidden; }

#header .sch-member .user-avartar img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: calc(100vh - 436px); }

.container #category { width: 72px; padding-top: 8px; border-right: 1px solid #dcdcdc; background-color: #fff; }

.container #category .nav-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.container #category .nav-left li { margin-bottom: 20px; }

.container #category .nav-left li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 62px; height: 52px; border-radius: 4px; background-color: transparent; color: #8A8A8A; font-size: 10px; font-weight: 700; text-align: center; text-decoration: none; }

.container #category .nav-left li a .ico { display: inline-block; width: 24px; height: 24px; margin-bottom: 4px; background: no-repeat 50% 50%; }

.container #category .nav-left li a .ico.ico-home { background-image: url(/assets/images/icon/icon_home.svg); }

.container #category .nav-left li a .ico.ico-mail { background-image: url(/assets/images/icon/icon_mail.svg); }

.container #category .nav-left li a .ico.ico-approval { background-image: url(/assets/images/icon/icon_approval.svg); }

.container #category .nav-left li a .ico.ico-note { background-image: url(/assets/images/icon/icon_note.svg); }

.container #category .nav-left li a .ico.ico-headset { background-image: url(/assets/images/icon/icon_headset.svg); }

.container #category .nav-left li a .ico.ico-chat { background-image: url(/assets/images/icon/icon_chat.svg); }

.container #category .nav-left li a .ico.ico-find { background-image: url(/assets/images/icon/icon_find.svg); }

.container #category .nav-left li a .ico.ico-org { background-image: url(/assets/images/icon/icon_org.svg); }

.container #category .nav-left li a .ico.ico-system { background-image: url(/assets/images/icon/icon_system.svg); }

.container #category .nav-left li a .ico.ico-users2 { background-image: url(/assets/images/icon/icon_users2.svg); }

.container #category .nav-left li a .ico.ico-main { background-image: url(/assets/images/icon/icon_main.svg); }

.container #category .nav-left li a .ico.ico-note { background-image: url(/assets/images/icon/icon_note.svg); }

.container #category .nav-left li a .ico.ico-card2 { background-image: url(/assets/images/icon/icon_card2.svg); }

.container #category .nav-left li:hover a, .container #category .nav-left li.active a { background-color: #2763BA; color: #fff; }

.container #category .nav-left li:hover a .ico.ico-home, .container #category .nav-left li.active a .ico.ico-home { background-image: url(/assets/images/icon/icon_home_on.svg); }

.container #category .nav-left li:hover a .ico.ico-mail, .container #category .nav-left li.active a .ico.ico-mail { background-image: url(/assets/images/icon/icon_mail_on.svg); }

.container #category .nav-left li:hover a .ico.ico-approval, .container #category .nav-left li.active a .ico.ico-approval { background-image: url(/assets/images/icon/icon_approval_on.svg); }

.container #category .nav-left li:hover a .ico.ico-note, .container #category .nav-left li.active a .ico.ico-note { background-image: url(/assets/images/icon/icon_note_on.svg); }

.container #category .nav-left li:hover a .ico.ico-headset, .container #category .nav-left li.active a .ico.ico-headset { background-image: url(/assets/images/icon/icon_headset_on.svg); }

.container #category .nav-left li:hover a .ico.ico-chat, .container #category .nav-left li.active a .ico.ico-chat { background-image: url(/assets/images/icon/icon_chat_on.svg); }

.container #category .nav-left li:hover a .ico.ico-find, .container #category .nav-left li.active a .ico.ico-find { background-image: url(/assets/images/icon/icon_find_on.svg); }

.container #category .nav-left li:hover a .ico.ico-org, .container #category .nav-left li.active a .ico.ico-org { background-image: url(/assets/images/icon/icon_org_on.svg); }

.container #category .nav-left li:hover a .ico.ico-system, .container #category .nav-left li.active a .ico.ico-system { background-image: url(/assets/images/icon/icon_system_on.svg); }

.container #category .nav-left li:hover a .ico.ico-users2, .container #category .nav-left li.active a .ico.ico-users2 { background-image: url(/assets/images/icon/icon_users2_on.svg); }

.container #category .nav-left li:hover a .ico.ico-main, .container #category .nav-left li.active a .ico.ico-main { background-image: url(/assets/images/icon/icon_main_on.svg); }

.container #category .nav-left li:hover a .ico.ico-note, .container #category .nav-left li.active a .ico.ico-note { background-image: url(/assets/images/icon/icon_note_on.svg); }

.container #category .nav-left li:hover a .ico.ico-card2, .container #category .nav-left li.active a .ico.ico-card2 { background-image: url(/assets/images/icon/icon_card2_on.svg); }

.container #content { width: calc(100% - 72px); }

#footer .footer-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 64px; padding-left: 80px; background-color: #697387; }

#footer .footer-top .btm-nav { display: -webkit-box; display: -ms-flexbox; display: flex; }

#footer .footer-top .btm-nav li { margin-right: 32px; color: #fff; font-size: 16px; font-weight: 700; }

#footer .footer-top .btm-nav li a { text-decoration: none; }

#footer .footer-mdl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-right: 80px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 64px; background-color: #778194; }

#footer .footer-mdl .btm-sitemap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-mdl .btm-sitemap dt { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-mdl .btm-sitemap dt:after { content: ''; display: inline-block; height: 20px; width: 1px; margin-left: 20px; background-color: #fff; }

#footer .footer-mdl .btm-sitemap dt .btn-all { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; font-size: 16px; font-weight: 700; }

#footer .footer-mdl .btm-sitemap dt .btn-all::before { content: ''; display: inline-block; width: 16px; height: 16px; margin-right: 8px; border-radius: 3.2px; background: rgba(255, 255, 255, 0.2) url("/assets/images/icon/arr_down_white.svg") no-repeat 50% 50%/11px auto; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

#footer .footer-mdl .btm-sitemap dd ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footer-mdl .btm-sitemap dd ul li { margin-left: 20px; color: #fff; font-size: 16px; font-weight: 500; }

#footer .footer-mdl .btm-sitemap dd ul li a { text-decoration: none; }

#footer .footer-btm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 252px; padding-left: 80px; background-color: #B1B6C1; }

#footer .footer-btm .logo-btm { height: 22px; margin-bottom: 24px; }

#footer .footer-btm .logo-btm img { height: 100%; }

#footer .footer-btm address { color: #4b4b4b; font-size: 12px; font-weight: 400; }

.lnb { width: 240px; }

.lnb > h1 { height: 56px; padding: 0 16px; line-height: 56px; font-size: 16px; color: #3c72c1; font-weight: 700; background: #ebf1f9; }

.lnb a:hover { text-decoration: none; }

.lnb [class*="icon-45-angle"]:before { width: 12px; height: 12px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.25C0.5 0.835787 0.835786 0.5 1.25 0.5H8.75C9.16421 0.5 9.5 0.835787 9.5 1.25V8.75C9.5 9.16421 9.16421 9.5 8.75 9.5H1.25C0.835786 9.5 0.5 9.16421 0.5 8.75V1.25ZM8.75 1.25H1.25V8.75H8.75V1.25ZM3.6875 3.6875C3.6875 3.48039 3.85539 3.3125 4.0625 3.3125H6.3125C6.51961 3.3125 6.6875 3.48039 6.6875 3.6875V5.9375C6.6875 6.14461 6.51961 6.3125 6.3125 6.3125C6.10539 6.3125 5.9375 6.14461 5.9375 5.9375V4.59283L3.95266 6.57767C3.80622 6.72411 3.56878 6.72411 3.42234 6.57767C3.27589 6.43122 3.27589 6.19378 3.42234 6.04734L5.40717 4.0625H4.0625C3.85539 4.0625 3.6875 3.89461 3.6875 3.6875Z" fill="%23000"/%3E%3C/svg%3E%0A'); }

.lnb-nav { padding: 8px; }

.lnb .js-tree-control { margin-bottom: 20px; }

.lnb-item { border-radius: 8px; overflow: hidden; }

.lnb-item:not(:first-child) { margin-top: 8px; }

.lnb-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 40px; padding: 0 16px; font-size: 14px; color: #2e2e2e; background-color: #f9f9f9; cursor: pointer; }

.lnb-text.on, .lnb-text:hover { color: #fff; background-color: #2763ba; }

.lnb-text:before { width: 12px; height: 12px; content: ""; display: block; margin-right: 8px; }

.lnb-text:not(.in-ui-icon):before { background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: 4px; background-image: url("/assets/images/lnb/lnb-bullet.svg"); }

.lnb-sub-nav .lnb-text.on:not(.ui-collapse-text):before, .lnb-sub-nav .lnb-text:hover:not(.ui-collapse-text):before { background-image: url("/assets/images/lnb/lnb-bullet-on.svg"); }

.lnb-text.ui-collapse-text:before { background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: 12px; background-image: url("/assets/images/lnb/bullet-collapse.svg"); -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: -webkit-transform 200ms ease; transition: -webkit-transform 200ms ease; transition: transform 200ms ease; transition: transform 200ms ease, -webkit-transform 200ms ease; }

.ui-collapse.on > .lnb-text.ui-collapse-text:before { -webkit-transform: rotate(0); transform: rotate(0); }

.lnb-nav > .lnb-item, .lnb-item.ui-collapse { border: 1px solid #dcdcdc; }

.lnb-nav > .lnb-item.on, .lnb-item.ui-collapse.on { border-color: #aeaeae; }

.lnb-nav > .lnb-item > .lnb-text, .lnb-item.ui-collapse > .lnb-text { color: #4b4b4b; font-weight: 700; background-color: #f4f4f4; }

.lnb-nav > .lnb-item > .lnb-text.on, .lnb-nav > .lnb-item > .lnb-text:hover, .lnb-item.ui-collapse > .lnb-text.on, .lnb-item.ui-collapse > .lnb-text:hover { background-color: #ebebeb; }

.lnb-sub-nav { padding: 8px; }

.in-ux-icon { position: relative; }

.in-ux-icon [class*="-icon"] { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.in-ux-icon .lnb-text:before { display: none; }

.in-ux-icon .left-icon { left: 14px; }

.in-ux-icon .left-icon ~ .lnb-text { padding-left: 36px; }

.in-ux-icon .right-icon { right: 14px; }

.in-ux-icon .right-icon ~ .lnb-text { padding-right: 36px; }

.sel-field { height: 28px; width: 140px; border: 1px solid #dcdcdc; border-radius: 4px; padding-left: 10px; background: url(/assets/images/icon/arr_down_black.svg) no-repeat 116px 50%/11px 6px; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #aeaeae; font-weight: 700; font-size: 12px; cursor: pointer; }

.field-category { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-category .sel-field { height: 32px !important; }

.field-category .field-sch { position: relative; margin-left: 8px; margin-right: 8px; padding-left: 8px; }

.field-category .field-sch::after { content: ''; position: absolute; left: 0; top: 8px; width: 1px; height: 16px; background-color: #dcdcdc; }

.field-header { display: inline-block; }

.field-header .dropdown-sel-btn { position: relative; height: 32px; padding-left: 12px; padding-right: 42px; border: 1px solid #fff; border-radius: 4px; background-color: #2B65B8; font-size: 14px; font-weight: 700; color: #fff; cursor: pointer; }

.field-header .dropdown-sel-btn:after { content: ''; position: absolute; top: 50%; right: 12px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; height: 20px; background: url(/assets/images/icon/arr_down_white.svg) no-repeat 50% 50%; }

.field-header .dropdown-sel-btn.active + .dropdown-content { display: block; }

.field-header .dropdown-content { display: none; width: 150px; border: 1px solid #dcdcdc; background-color: #fff; }

.field-header .dropdown-content li { height: 33px; padding-left: 9px; line-height: 33px; }

.field-header .dropdown-content li button { width: 100%; height: 100%; text-align: left; cursor: pointer; }

.dropdown-sel { position: relative; }

.dropdown-sel .dropdown-content { position: absolute; z-index: 100; top: 38px; color: #666; font-size: 12px; font-weight: 700; background-color: #fff; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); }

.dropdown-sel .dropdown-content li { cursor: pointer; }

.dropdown-sel .dropdown-content li:hover, .dropdown-sel .dropdown-content li.active { background-color: #EBF1F9; color: #000; }

.inp-field-area { position: relative; }

.inp-field-area .inp-field { width: 100%; height: 32px; padding-left: 12px; padding-right: 42px; border-radius: 4px; border: 1px solid #dcdcdc; color: #666; }

.inp-field-area .inp-field::-webkit-input-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .inp-field:-ms-input-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .inp-field::-ms-input-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .inp-field::placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .btn-sch { position: absolute; right: 12px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; height: 20px; background: url(/assets/images/icon/icon-zoom.svg) no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.txt-field { padding: 10px; width: 100%; border: 1px solid #dcdcdc; border-radius: 4px; height: 120px; resize: none; }

.txt-field::-webkit-input-placeholder { font-weight: 700; color: #aeaeae; }

.txt-field:-ms-input-placeholder { font-weight: 700; color: #aeaeae; }

.txt-field::-ms-input-placeholder { font-weight: 700; color: #aeaeae; }

.txt-field::placeholder { font-weight: 700; color: #aeaeae; }

.addfile-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; height: 42px; border: 1px solid #dcdcdc; border-radius: 4px; padding: 0 8px; }

.addfile-area .ico-file { margin-right: 12px; }

.addfile-area .ico-file img { width: 26px; }

.addfile-area .file-desc p { color: #000; font-size: 12px; font-weight: 400; }

.addfile-area .file-desc strong { color: #666; font-size: 12px; font-weight: 400; }

.addfile-area .txt-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.addfile-area .btn-file-close { justify-self: flex-end; margin-left: auto; width: 20px; height: 20px; background: url(/assets/images/icon/icon-delete.svg) no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.addfile-area .btn-file-add { border: 0; justify-self: flex-end; margin-left: auto; width: 20px; height: 20px; background: url(/assets/images/icon/icon-plus2.svg) no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.addfile-area .btn-file-down { border: 0; justify-self: flex-end; margin-left: auto; width: 20px; height: 20px; background: url(/assets/images/icon/icon-down.svg) no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.state-off { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border: 0; width: 72px; height: 32px; background-color: #dcdcdc; border-radius: 32px; padding: 0 5px 0 12px; cursor: pointer; }

.state-off .state-txt { font-size: 14px; font-weight: 400; color: #8A8A8A; }

.state-off .dot { display: block; width: 22px; height: 22px; border-radius: 50%; background-color: #fff; }

.state-off.on { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; background-color: #00358c; padding: 0 12px 0 5px; }

.state-off.on .state-txt { color: #fff; }

.field-btn-re { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 20px 0; background-color: #f4f4f4; }

.field-btn-re .inp-field-area { margin-right: 8px; }

.field-btn-re .btn-re { width: 32px; height: 32px; border-radius: 4px; background: #dcdcdc url(/assets/images/icon/icon-re.svg) no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.btn-group-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.btngroup { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -6px; margin-left: -6px; }

.btngroup button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 6px; margin-left: 6px; height: 32px; border-radius: 8px; padding-left: 12px; padding-right: 12px; font-size: 14px; font-weight: 700; color: #fff; cursor: pointer; }

.btngroup button.btn-list { padding-right: 15.5px; padding-left: 17.5px; }

.btngroup button.btn-light { background-color: #f4f4f4; color: #666; }

.btngroup button .ico-list { display: block; width: 16px; height: 16px; margin-right: 10px; background: url(/assets/images/icon/icon-list.svg) no-repeat 50% 50%; }

.btngroup .btn-list { background-color: #aeaeae; }

.btngroup .btn-history { background-color: #48C28F; }

.btngroup .btn-down { background-color: #3C72C1; }

.btngroup .btn-choice-down { background-color: #f4f4f4; border: 1px solid #3C72C1; color: #3C72C1; }

.btngroup .btn-print { background-color: #8A8A8A; }

.btngroup .btn-opinion { height: 40px; padding-right: 55px; padding-left: 20px; border-radius: 0; background-color: #F4F4F4; color: #2E2E2E; font-size: 14px; font-weight: 400; }

.btngroup .btn-close { height: 48px; padding-right: 30px; padding-left: 30px; background-color: #F4F4F4; color: #666; font-size: 16px; }

.btngroup .btn-approval { height: 48px; padding-right: 82px; padding-left: 82px; background-color: #2763BA; color: #fff; font-size: 16px; }

.btngroup .btn-zip { width: 26px; height: 26px; background: url(/assets/images/icon/icon-zip.svg) no-repeat; }

.btngroup .btn-pdf { width: 26px; height: 24px; background: url(/assets/images/icon/icon-pdf.svg) no-repeat; }

.btngroup.btn-round button { position: relative; height: 32px; padding-right: 10px; padding-left: 40px; border-radius: 32px; font-size: 14px; font-weight: 400; color: #fff; cursor: pointer; }

.btngroup.btn-round button.btn-preview { background-color: #6A57DF; }

.btngroup.btn-round button.btn-preview .ico { background-color: #5A45DC; background-image: url(/assets/images/icon/icon-note4.svg); }

.btngroup.btn-round button.btn-collect { background-color: #EA6969; }

.btngroup.btn-round button.btn-collect .ico { background-color: #E85959; background-image: url(/assets/images/icon/icon-re.svg); }

.btngroup.btn-round button.btn-approval { background-color: #3C72C1; }

.btngroup.btn-round button.btn-approval .ico { background-color: #2763BA; background-image: url(/assets/images/icon/icon_approval2.svg); }

.btngroup.btn-round button.btn-eye { background-color: #3C72C1; }

.btngroup.btn-round button.btn-eye .ico { background-color: #2763BA; background-image: url(/assets/images/icon/icon-eye.svg); }

.btngroup.btn-round button.btn-pencil { background-color: #3C72C1; }

.btngroup.btn-round button.btn-pencil .ico { background-color: #2763BA; background-image: url(/assets/images/icon/ico-pencil.svg); }

.btngroup.btn-round button.btn-pencil { background-color: #3C72C1; }

.btngroup.btn-round button.btn-pencil .ico { background-color: #2763BA; background-image: url(/assets/images/icon/icon-pencil.svg); }

.btngroup.btn-round button.btn-arrtop { background-color: #3C72C1; }

.btngroup.btn-round button.btn-arrtop .ico { background-color: #2763BA; background-image: url(/assets/images/icon/icon-arr-top.svg); }

.btngroup.btn-round button.btn-preserve { background-color: #5AC89A; }

.btngroup.btn-round button.btn-preserve .ico { background-color: #48C28F; background-image: url(/assets/images/icon/icon-cube.svg); }

.btngroup.btn-round button.btn-delete { background-color: #EA6969; }

.btngroup.btn-round button.btn-delete .ico { background-color: #E85959; background-image: url(/assets/images/icon/icon-trash.svg); }

.btngroup.btn-round button.btn-compan { background-color: #EA6969; }

.btngroup.btn-round button.btn-compan .ico { background-color: #E85959; background-image: url(/assets/images/icon/icon-compan.svg); }

.btngroup.btn-round button.btn-note5 { background-color: #D18F42; }

.btngroup.btn-round button.btn-note5 .ico { background-color: #CC832D; background-image: url(/assets/images/icon/icon-note5.svg); }

.btngroup.btn-round button.btn-approval { background-color: #D18F42; }

.btngroup.btn-round button.btn-approval .ico { background-color: #CC832D; background-image: url(/assets/images/icon/icon_approval2.svg); }

.btngroup.btn-round button.btn-submit { background-color: #3C72C1; }

.btngroup.btn-round button.btn-submit .ico { background-color: #2763BA; background-image: url(/assets/images/icon/icon-trash.svg); }

.btngroup.btn-round button.btn-find2 { background-color: #3C72C1; }

.btngroup.btn-round button.btn-find2 .ico { background-color: #2763BA; background-image: url(/assets/images/icon/icon-find2.svg); }

.btngroup.btn-round button .ico { position: absolute; left: 0; top: 0; display: block; height: 32px; width: 32px; border-radius: 50%; background: no-repeat 50% 50%; }

.w220 { width: 220px; }

.mb8 { margin-bottom: 8px; }

.flag { display: inline-block; height: 20px; padding-left: 8px; padding-right: 8px; border-radius: 4px; color: #fff; font-size: 12px; font-weight: 700; vertical-align: middle; }

.flag-danger { background-color: #E85959; }

.flag-success { background-color: #48C28F; }

.btnstate { display: inline-block; height: 20px; padding-left: 8px; padding-right: 8px; border-radius: 8px; line-height: 19px; vertical-align: middle; }

.btnstate.btnstate-type1 { border: 1px solid #aeaeae; background-color: #aeaeae; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type2 { border: 1px solid #dcdcdc; background-color: #EBEBEB; color: #aeaeae; font-size: 12px; font-weight: 400; }

.btnstate.btnstate-type3 { border: 1px solid #38A8E6; background-color: #38A8E6; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type4 { border: 1px solid #48C28F; background-color: #48C28F; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type5 { border: 1px solid #E85959; background-color: #E85959; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type6 { border: 1px solid #CC832D; background-color: #CC832D; font-size: 12px; font-weight: 700; color: #fff; }

.plate { height: 40px; padding: 10px 12px; border-radius: 4px; font-size: 14px; font-weight: 700; color: #fff; }

.plate-blue { background-color: #3F4ED6; }

.plate-lightblue { background-color: #38A8E6; }

.plate-lightgray { background-color: #EBEBEB; color: #666; }

.plate-darkgray { background-color: #8A8A8A; }

.plate-green { background-color: #3C9771; }

.plate-darkorange { background-color: #cc832d; }

.plate-outer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.plate-outer .plate { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.ico-reply { width: 24px; height: 24px; margin-right: 8px; background: url(/assets/images/icon/icon-reply.svg) no-repeat 50% 50%; }

.chcekboxgroup { margin-left: -6px; }

.chcekboxgroup input[type='checkbox'] + label { margin-left: 6px; margin-right: 6px; }

input[type='checkbox'] { display: none; }

input[type='checkbox'] + label { color: #666; font-size: 14px; }

input[type='checkbox'] + label span { display: inline-block; width: 12px; height: 12px; margin: -2px 8px 0 0; vertical-align: middle; border: 1px solid #000; border-radius: 1px; background: #fff; cursor: pointer; }

input[type='checkbox']:hover + label span { -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); }

input[type='checkbox']:checked + label span { background: #000 url(/assets/images/icon/icon-check.svg) no-repeat 50% 50%; background-size: 6.5px 4.5px; }

input[type='checkbox']:disabled + label span { position: relative; border: 1px solid #000; background: #dcdcdc; cursor: none; -webkit-box-shadow: none; box-shadow: none; }

input[type='checkbox']:disabled + label span:before { content: ''; position: absolute; left: 2px; top: 5px; width: 6px; height: 1px; background: #000; }

.tooltip-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tooltip-area a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 8px; margin-right: 8px; }

.ui-tooltip, .arrow:after { display: inline-block; background: black; border: 0; }

.ui-tooltip { padding: 12px; color: white; border-radius: 8px; font-size: 14px; font-weight: 400; -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); }

.ui-tooltip .arrow { width: 70px; height: 16px; overflow: hidden; position: absolute; left: 50%; margin-left: -57px; bottom: -12px; }

.ui-tooltip .arrow.top { top: -12px; bottom: auto; }

.ui-tooltip .arrow.left { left: 20%; }

.ui-tooltip .arrow:after { content: ""; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; -webkit-box-shadow: 6px 5px 9px -9px black; box-shadow: 6px 5px 9px -9px black; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.ui-tooltip .arrow.top:after { bottom: -20px; top: auto; }

.ui-tooltip.tooltip-right .arrow { left: 100%; bottom: -12px; }

.-size--s { height: 20px; padding: 0 8px; font-size: 12px; border-radius: 4px; }

.-size--l { height: 40px; padding: 0 12px; font-weight: 700; font-size: 14px; border-radius: 8px; }

.-type--border { border-width: 1px; border-style: solid; }

.-theme-fill--gray-1 { color: #666; background-color: #f4f4f4; }

.-theme-fill--blue-1 { color: #fff; background-color: #2763ba; }

.-theme-fill--blue-2 { color: #fff; background-color: #3f4ed6; }

.-theme-fill--error-1 { color: #fff; background-color: #e85959; }

.-theme-fill--green-1 { color: #fff; background-color: #278c62; }

.-theme-stroke--blue-1 { color: #2763ba; background-color: #f0f7ff; border-color: #2763ba; }

.btn-favorit:before { width: 13px; height: 13px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url("/assets/images/icon/icon-favorit.svg"); }

.btn-favorit.on:before { background-image: url("/assets/images/icon/icon-favorit-on.svg"); }

.modal { display: none; background: #fff; border-radius: 8px; margin: 0 auto; }

.modal .modal-header .sub-title { font-size: 12px; font-weight: 400; line-height: 17.38px; word-break: keep-all; }

.modal .modal-header + .modal-footer { margin-top: 20px; }

.modal .modal-body { min-height: 200px; font-size: 12px; margin-top: 25px; }

.modal .modal-body .txt-message { margin: 46px auto 0 auto; }

.modal .modal-body .txt-message dt { font-size: 18px; font-weight: 700; color: #000; text-align: center; }

.modal .modal-body .txt-message dt.left { text-align: left; }

.modal .modal-body .txt-message dd { font-size: 12px; font-weight: 400; color: #4B4B4B; }

.modal .modal-body .txt-message dd.center { text-align: center; }

.modal .modal-footer { margin: 40px 0 0 0; }

.modal .modal-footer .page-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 -5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.modal .modal-footer .page-btn .btn { font-size: 16px; font-weight: 700; height: 48px; margin: 0 5px; padding: 12px 0; text-align: center; border-radius: 8px; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 23px; cursor: pointer; }

.modal .modal-footer .page-btn .btn.btn-blue { color: #fff; background: #2763BA; }

.modal .modal-footer .page-btn .btn.btn-gray { color: #666; background: #F4F4F4; }

.modal .modal-footer .page-btn .btn.btn-red { color: #fff; background: #EA6969; }

.modal .modal-footer .page-btn.btn-space-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.modal .modal-footer .page-btn.btn-space-between .btn { width: 50%; }

.modal .modal-footer .page-btn.btn-space-between .btn:first-child { width: 16.6%; }

.modal .modal-footer .page-btn.btn-full .btn { width: 100%; }

.modal .modal-footer .page-btn.btn-full-between .btn { width: 70%; }

.modal .modal-footer .page-btn.btn-full-between .btn:first-child { width: 30%; }

.js-tree-search { padding: 20px; background: #f4f4f4; border-bottom: 1px solid #e1e1e1; }

.js-tree-search .inp-field-area { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.js-tree-control { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 30px; }

.js-tree-control .btn-tree { height: 20px; padding: 0 8px; font-size: 12px; border-radius: 4px; color: #666; background-color: #f4f4f4; }

.js-tree-control .btn-tree.primary { color: #fff; background-color: #2763ba; }

.js-tree-control .btn-tree + .btn-tree { margin-left: 4px; }

.js-tree-control .btn-tree:last-child { margin-left: auto; }

.js-tree-control .btn-tree [class^="icon-"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.js-tree-control .btn-tree [class^="icon-"]:before { margin-right: 5px; }

.js-tree-control .btn-tree .icon-top:before { width: 10px; height: 10px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.875 0.375C0.875 0.167893 1.04289 0 1.25 0H8.75C8.95711 0 9.125 0.167893 9.125 0.375C9.125 0.582107 8.95711 0.75 8.75 0.75H1.25C1.04289 0.75 0.875 0.582107 0.875 0.375ZM5 1.5C5.09946 1.5 5.19484 1.53951 5.26517 1.60984L8.64017 4.98485C8.78661 5.13129 8.78661 5.36873 8.64016 5.51518C8.49372 5.66162 8.25628 5.66162 8.10983 5.51518L5.375 2.78033V9.375C5.375 9.58211 5.20711 9.75 5 9.75C4.79289 9.75 4.625 9.58211 4.625 9.375V2.78033L1.89017 5.51518C1.74372 5.66162 1.50628 5.66162 1.35984 5.51518C1.21339 5.36873 1.21339 5.13129 1.35983 4.98485L4.73483 1.60984C4.80516 1.53951 4.90054 1.5 5 1.5Z" fill="%23666"/%3E%3C/svg%3E'); }

.js-tree-control .btn-tree .icon-bottom:before { width: 10px; height: 10px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5 0.25C5.20711 0.25 5.375 0.417893 5.375 0.625V7.21967L8.10983 4.48482C8.25628 4.33838 8.49372 4.33838 8.64016 4.48482C8.78661 4.63127 8.78661 4.86871 8.64017 5.01515L5.26517 8.39016C5.19484 8.46049 5.09946 8.5 5 8.5C4.90054 8.5 4.80516 8.46049 4.73483 8.39016L1.35983 5.01515C1.21339 4.86871 1.21339 4.63127 1.35984 4.48482C1.50628 4.33838 1.74372 4.33838 1.89017 4.48482L4.625 7.21967V0.625C4.625 0.417893 4.79289 0.25 5 0.25ZM0.875 9.625C0.875 9.41789 1.04289 9.25 1.25 9.25H8.75C8.95711 9.25 9.125 9.41789 9.125 9.625C9.125 9.83211 8.95711 10 8.75 10H1.25C1.04289 10 0.875 9.83211 0.875 9.625Z" fill="%23666"/%3E%3C/svg%3E%0A'); }

.js-tree-control .btn-tree .icon-regist:before { width: 14px; height: 14px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M17.4697 2.46967C17.7626 2.17678 18.2374 2.17678 18.5303 2.46967L21.5303 5.46967C21.8232 5.76256 21.8232 6.23744 21.5303 6.53033L12.5303 15.5303C12.3897 15.671 12.1989 15.75 12 15.75H9C8.58579 15.75 8.25 15.4142 8.25 15V12C8.25 11.8011 8.32902 11.6103 8.46967 11.4697L17.4697 2.46967ZM9.75 12.3107V14.25H11.6893L19.9393 6L18 4.06066L9.75 12.3107Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M15.2197 4.71967C15.5126 4.42678 15.9874 4.42678 16.2803 4.71967L19.2803 7.71967C19.5732 8.01256 19.5732 8.48744 19.2803 8.78033C18.9874 9.07322 18.5126 9.07322 18.2197 8.78033L15.2197 5.78033C14.9268 5.48744 14.9268 5.01256 15.2197 4.71967Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.43934 3.43934C3.72064 3.15804 4.10217 3 4.5 3H12.75C13.1642 3 13.5 3.33579 13.5 3.75C13.5 4.16421 13.1642 4.5 12.75 4.5L4.5 4.5L4.5 19.5H19.5V11.25C19.5 10.8358 19.8358 10.5 20.25 10.5C20.6642 10.5 21 10.8358 21 11.25V19.5C21 19.8978 20.842 20.2794 20.5607 20.5607C20.2794 20.842 19.8978 21 19.5 21H4.5C4.10218 21 3.72065 20.842 3.43934 20.5607C3.15804 20.2794 3 19.8978 3 19.5V4.5C3 4.10217 3.15804 3.72064 3.43934 3.43934Z" fill="%23fff"/%3E%3C/svg%3E%0A'); }

.page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 40px; }

.page .content-tle { margin-bottom: 8px; font-size: 18px; }

.page .btn-group-area { margin-bottom: 12px; }

.page-title { font-size: 16px; font-weight: 300; color: #000; margin-bottom: 27px; }

.page-title strong { font-size: 18px; font-weight: 700; margin-right: 20px; line-height: 25px; vertical-align: top; }

.page-title .num { font-size: 16px; font-weight: 700; color: #48c28f; }

.tree-in-page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.tree-in-page .js-tree-wrap { -ms-flex-negative: 0; flex-shrink: 0; width: 300px; background: #fff; border: 1px solid #e1e1e1; }

.tree-in-page [class*="js-tree--"] { padding: 20px; }

.tree-in-page .page-content { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; margin-left: 20px; }

.lnb-in { display: -webkit-box; display: -ms-flexbox; display: flex; }

.lnb-in .lnb { -ms-flex-negative: 0; flex-shrink: 0; width: 240px; border-right: 1px solid #f0f0f0; }

.lnb-in .page { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.breadcrumb { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 28px; color: #666; }

.breadcrumb li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; }

.breadcrumb li a { display: block; text-decoration: none; }

.breadcrumb li strong { display: block; color: #2e2e2e; font-weight: 700; }

.breadcrumb li.arr:after { content: ""; display: block; width: 16px; height: 16px; margin-left: 12px; margin-right: 12px; background: url("/assets/images/icon/icon_paging_next_ae.svg") no-repeat 50% 50%/6px 11px; }

.l-org { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 20px; font-size: 14px; border: 1px solid #dcdcdc; }

.l-org .tabs { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.l-org .ui-widget.ui-tabs .ui-tabs-panel { padding: 0; }

.l-org .js-tree-wrap { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; position: relative; border: 1px solid #e1e1e1; }

.l-org [class^="icon-"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.l-org [class^="icon-"]:before { margin-right: 5px; }

.l-org .icon-x:before { width: 1em; height: 1em; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M19.2803 4.71967C19.5732 5.01256 19.5732 5.48744 19.2803 5.78033L5.78033 19.2803C5.48744 19.5732 5.01256 19.5732 4.71967 19.2803C4.42678 18.9874 4.42678 18.5126 4.71967 18.2197L18.2197 4.71967C18.5126 4.42678 18.9874 4.42678 19.2803 4.71967Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4.71967 4.71967C5.01256 4.42678 5.48744 4.42678 5.78033 4.71967L19.2803 18.2197C19.5732 18.5126 19.5732 18.9874 19.2803 19.2803C18.9874 19.5732 18.5126 19.5732 18.2197 19.2803L4.71967 5.78033C4.42678 5.48744 4.42678 5.01256 4.71967 4.71967Z" fill="%23fff"/%3E%3C/svg%3E'); }

.l-org .icon-doc-box:before { width: 1em; height: 1em; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.875 1.375C0.875 0.684644 1.43464 0.125 2.125 0.125H15.875C16.5654 0.125 17.125 0.684644 17.125 1.375V3.875C17.125 4.56536 16.5654 5.125 15.875 5.125H2.125C1.43464 5.125 0.875 4.56536 0.875 3.875V1.375ZM15.875 1.375H2.125V3.875H15.875L15.875 1.375Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M2.75 3.875C3.09518 3.875 3.375 4.15482 3.375 4.5V12.625H14.625V4.5C14.625 4.15482 14.9048 3.875 15.25 3.875C15.5952 3.875 15.875 4.15482 15.875 4.5V12.625C15.875 12.9565 15.7433 13.2745 15.5089 13.5089C15.2745 13.7433 14.9565 13.875 14.625 13.875H3.375C3.04348 13.875 2.72554 13.7433 2.49112 13.5089C2.2567 13.2745 2.125 12.9565 2.125 12.625V4.5C2.125 4.15482 2.40482 3.875 2.75 3.875Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.5 7.625C6.5 7.27982 6.77982 7 7.125 7H10.875C11.2202 7 11.5 7.27982 11.5 7.625C11.5 7.97018 11.2202 8.25 10.875 8.25H7.125C6.77982 8.25 6.5 7.97018 6.5 7.625Z" fill="%23000"/%3E%3C/svg%3E%0A'); }

.l-org .icon-doc-holder:before { width: 1em; height: 1em; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.75 0.875C3.75 0.529822 4.02982 0.25 4.375 0.25H10.625C10.9702 0.25 11.25 0.529822 11.25 0.875V4C11.25 4.34518 10.9702 4.625 10.625 4.625H4.375C4.02982 4.625 3.75 4.34518 3.75 4V0.875ZM5 1.5V3.375H10V1.5H5Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.991117 1.86612C1.22554 1.6317 1.54348 1.5 1.875 1.5H4.375C4.72018 1.5 5 1.77982 5 2.125C5 2.47018 4.72018 2.75 4.375 2.75L1.875 2.75L1.875 15.875H13.125V2.75H10.625C10.2798 2.75 10 2.47018 10 2.125C10 1.77982 10.2798 1.5 10.625 1.5H13.125C13.4565 1.5 13.7745 1.6317 14.0089 1.86612C14.2433 2.10054 14.375 2.41848 14.375 2.75V15.875C14.375 16.2065 14.2433 16.5245 14.0089 16.7589C13.7745 16.9933 13.4565 17.125 13.125 17.125H1.875C1.54348 17.125 1.22554 16.9933 0.991117 16.7589C0.756696 16.5245 0.625 16.2065 0.625 15.875V2.75C0.625 2.41848 0.756696 2.10054 0.991117 1.86612Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4.375 10.875C4.375 10.5298 4.65482 10.25 5 10.25H10C10.3452 10.25 10.625 10.5298 10.625 10.875C10.625 11.2202 10.3452 11.5 10 11.5H5C4.65482 11.5 4.375 11.2202 4.375 10.875Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4.375 8.375C4.375 8.02982 4.65482 7.75 5 7.75H10C10.3452 7.75 10.625 8.02982 10.625 8.375C10.625 8.72018 10.3452 9 10 9H5C4.65482 9 4.375 8.72018 4.375 8.375Z" fill="%23000"/%3E%3C/svg%3E'); }

.l-org .icon-folders:before { width: 1em; height: 1em; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1.24112 2.99112C1.47554 2.7567 1.79348 2.625 2.125 2.625H5.66667C5.93713 2.625 6.2003 2.71272 6.41667 2.875L8.58333 4.5L14 4.5C14.3315 4.5 14.6495 4.6317 14.8839 4.86612C15.1183 5.10054 15.25 5.41848 15.25 5.75V12.6944C15.25 13.0075 15.1256 13.3078 14.9042 13.5292C14.6828 13.7506 14.3825 13.875 14.0694 13.875H2.125C1.79348 13.875 1.47554 13.7433 1.24112 13.5089C1.0067 13.2745 0.875 12.9565 0.875 12.625V3.875C0.875 3.54348 1.0067 3.22554 1.24112 2.99112ZM5.66667 3.875L2.125 3.875L2.125 12.625H14V5.75H8.58333C8.31287 5.75 8.0497 5.66228 7.83333 5.5L5.66667 3.875Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.74112 0.491117C3.97554 0.256696 4.29348 0.125 4.625 0.125H8.16667C8.43713 0.125 8.7003 0.212722 8.91667 0.375L11.0833 2L16.5 2C16.8315 2 17.1495 2.1317 17.3839 2.36612C17.6183 2.60054 17.75 2.91848 17.75 3.25V10.1944C17.75 10.3495 17.7195 10.503 17.6601 10.6462C17.6008 10.7895 17.5138 10.9196 17.4042 11.0292C17.2946 11.1388 17.1645 11.2258 17.0212 11.2851C16.878 11.3445 16.7245 11.375 16.5694 11.375H14.625C14.2798 11.375 14 11.0952 14 10.75C14 10.4048 14.2798 10.125 14.625 10.125H16.5V3.25H11.0833C10.8129 3.25 10.5497 3.16228 10.3333 3L8.16667 1.375L4.625 1.375L4.625 3.25C4.625 3.59518 4.34518 3.875 4 3.875C3.65482 3.875 3.375 3.59518 3.375 3.25V1.375C3.375 1.04348 3.5067 0.725537 3.74112 0.491117Z" fill="%23000"/%3E%3C/svg%3E%0A'); }

.l-org .search { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-negative: 0; flex-shrink: 0; width: 500px; }

.l-org .search-bottom { position: absolute; bottom: 10px; left: 10px; right: 10px; }

.l-org .search-bottom .btn { height: 40px; padding: 0 12px; font-weight: 700; font-size: 14px; border-radius: 8px; color: #2763ba; background-color: #f0f7ff; border-color: #2763ba; border-width: 1px; border-style: solid; width: 100%; }

.l-org .search-bottom.is-bg { bottom: 0; left: 0; right: 0; padding: 20px; background: #f9f9f9; }

.l-org .search-bottom .legend-list { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 4px 0; }

.l-org .search-bottom .legend-list li + li { margin-left: 10px; }

.l-org .search-content { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-left: 10px; border: 1px solid #dcdcdc; border-radius: 4px; }

.l-org .search-content .head { display: -webkit-box; display: -ms-flexbox; display: flex; height: 72px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 20px; background: #f4f4f4; border-bottom: 1px solid #e1e1e1; }

.l-org .search-content .head-title { font-size: 14px; color: #4b4b4b; font-weight: 700; }

.l-org .search-content .head-title .icon-list:before { width: 9px; height: 9px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5.5 4.5C5.5 4.22386 5.72386 4 6 4H14C14.2761 4 14.5 4.22386 14.5 4.5C14.5 4.77614 14.2761 5 14 5H6C5.72386 5 5.5 4.77614 5.5 4.5Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.5C5.5 8.22386 5.72386 8 6 8H13.9996C14.2758 8 14.4996 8.22386 14.4996 8.5C14.4996 8.77614 14.2758 9 13.9996 9H6C5.72386 9 5.5 8.77614 5.5 8.5Z" fill="%23000"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5.5 12.5C5.5 12.2239 5.72386 12 6 12H13.9996C14.2758 12 14.4996 12.2239 14.4996 12.5C14.4996 12.7761 14.2758 13 13.9996 13H6C5.72386 13 5.5 12.7761 5.5 12.5Z" fill="%23000"/%3E%3Cpath d="M3.25 5.25C3.66421 5.25 4 4.91421 4 4.5C4 4.08579 3.66421 3.75 3.25 3.75C2.83579 3.75 2.5 4.08579 2.5 4.5C2.5 4.91421 2.83579 5.25 3.25 5.25Z" fill="%23000"/%3E%3Cpath d="M3.25 9.25C3.66421 9.25 4 8.91421 4 8.5C4 8.08579 3.66421 7.75 3.25 7.75C2.83579 7.75 2.5 8.08579 2.5 8.5C2.5 8.91421 2.83579 9.25 3.25 9.25Z" fill="%23000"/%3E%3Cpath d="M3.25 13.25C3.66421 13.25 4 12.9142 4 12.5C4 12.0858 3.66421 11.75 3.25 11.75C2.83579 11.75 2.5 12.0858 2.5 12.5C2.5 12.9142 2.83579 13.25 3.25 13.25Z" fill="%23000"/%3E%3C/svg%3E%0A'); }

.l-org .search-content .head-option { margin-left: auto; }

.l-org .search-content .head-option .btn { height: 32px; padding: 0 12px; font-size: 14px; border-radius: 8px; margin-left: 8px; }

.l-org .search-content .head .sel-field { height: 32px; background-color: #fff; }

.l-org .search-content .content-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 24px; }

.l-org .search-content .content-wrap .row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.l-org .search-content .content-wrap .row + .row { margin-top: 12px; }

.l-org .search-content .content-wrap .row > .th { width: 110px; }

.l-org .search-content .content-wrap .th { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-negative: 0; flex-shrink: 0; background: #f4f4f4; font-weight: bolder; color: #666666; }

.l-org .search-content .content-wrap .th.row { width: 100%; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.l-org .search-content .content-wrap .org-fn .btn { height: 28px; padding: 0 8px; font-weight: 700; font-size: 12px; border-radius: 7px; }

.l-org .search-content .content-wrap .org-fn .btn [class*="icon-"]:after { margin-left: 10px; }

.l-org .search-content .content-wrap .org-fn .btn .icon-next:after { width: 1em; height: 1em; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.881282 0.631282C1.22299 0.289573 1.77701 0.289573 2.11872 0.631282L10.8687 9.38128C11.2104 9.72299 11.2104 10.277 10.8687 10.6187L2.11872 19.3687C1.77701 19.7104 1.22299 19.7104 0.881282 19.3687C0.539573 19.027 0.539573 18.473 0.881282 18.1313L9.01256 10L0.881282 1.86872C0.539573 1.52701 0.539573 0.97299 0.881282 0.631282Z" fill="%23fff"/%3E%3C/svg%3E'); }

.l-org .search-content .content-wrap .field-btn-re { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 20px; }

.l-org .search-content .content-wrap .field-btn-re .inp-field-area { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.l-org .search-content .content-wrap .field-btn-re .btn-operate-add { height: 28px; padding: 0 8px; font-weight: 700; font-size: 12px; border-radius: 4px; color: #fff; background-color: #278c62; width: 47px; }

.l-org [class*="js-tree--"] { padding: 10px; }

.l-org .js-tree { height: 600px; padding: 0 10px; overflow-y: auto; }

.l-org .js-tree-control { margin-bottom: 20px; }

.l-org .scrollable-area { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 8px; overflow-y: auto; }

.l-org .-row-1 { height: 617px; }

.l-org .-row-2 { height: 221px; }

.l-org .-row-3 { height: 396px; }

.l-org .plate { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.l-org .plate + .plate { margin-top: 8px; }

.l-org .plate-fn { line-height: 1; }

.l-org .plate-btn { font-size: 16px; }

.l-org .org-info { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.l-org .org-info .like-table { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; color: #4b4b4b; border: 1px solid #f4f4f4; }

.l-org .org-info .like-table + .like-table { margin-top: 8px; }

.l-org .org-info .like-table .th, .l-org .org-info .like-table .td { padding: 10px; }

.l-org .org-info .like-table .th { width: 26%; text-align: left; }

.l-org .org-info .like-table .td { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; font-weight: 500; }

.l-org .org-info .like-table.-th-3 { width: calc(33.333% - 5px); margin-top: 0; }

.l-org .org-info .like-table.-th-3 .th { width: auto; }

/** table */
.table { width: 100%; position: relative; border-collapse: collapse; }

.table.table-fixed { table-layout: fixed; }

.table.mt10 { margin-top: 10px; }

.table.mt20 { margin-top: 20px; }

.table.mt30 { margin-top: 30px; }

.table caption { overflow: hidden; width: 0; height: 0; line-height: 1; }

.table thead tr th { font-size: 12px; font-weight: 400; padding: 8px; color: #000; text-align: center; background: #F5F5F5; }

.table tbody tr td { font-size: 14px; font-weight: 500; padding: 16px 8px; text-align: center; border-bottom: 1px solid #F0F0F0; background: #FFF; line-height: 20px; color: #000; word-break: break-all; }

.table tbody tr .flex-between { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.table tbody tr .empty { margin-top: 15px; }

.table tbody tr .new { font-size: 12px; color: #E85959; }

.table tbody tr .reply { font-size: 12px; color: #666; }

.table tbody tr .date { color: #666; word-break: keep-all; }

.table tbody tr .state { word-break: keep-all; }

.table tbody tr .state.wait { color: #38A8E6; }

.table tbody tr .state.doing { color: #E85959; }

.table tbody tr .state.complete { color: #666666; }

.table tbody tr .state.team { color: #3A9B72; }

.table tbody tr .classification { font-size: 12px; word-break: keep-all; }

.table tbody tr:last-child td { border-bottom: 1px solid #DCDCDC; }

.table .cell-left { text-align: left; }

.table .cell-right { text-align: right; }

.table.table-view { border-bottom: none; }

.table.table-view tbody tr:first-child th { border-top: none; }

.table.table-view tbody tr th { font-size: 14px; font-weight: 400; padding: 14px 20px; text-align: left; color: #4b4b4b; background: #F5F5F5; -webkit-box-shadow: inset 0 4px 0 white, inset 0 -4px 0 white; box-shadow: inset 0 4px 0 white, inset 0 -4px 0 white; }

.table.table-view tbody tr th .row-list { margin: -5px 0; }

.table.table-view tbody tr th .row-list li { font-weight: 400; margin: 15px 0; }

.table.table-view tbody tr td { font-size: 14px; font-weight: 500; padding: 4px 20px; color: #000; text-align: left; border-bottom: none; }

.table.table-view tbody tr td .row-list { margin: -5px 0; }

.table.table-view tbody tr td .row-list li { font-weight: 500; margin: 15px 0; color: #000; }

.table.table-view.table-division { border-top: 1px solid #DCDCDC; }

.table.table-view.table-border tbody tr:first-child th, .table.table-view.table-border tbody tr:first-child td { border-top: none; }

.table.table-view.table-border tbody tr th { border-top: 1px solid #dcdcdc; }

.table.table-view.table-border tbody tr td { border-top: 1px solid #dcdcdc; }

.form-wrap .form-control-box { margin-top: 12px; }

.form-wrap .form-control-box .form-label { font-size: 12px; font-weight: 500; color: #000; display: block; }

.form-wrap .form-control-box .form-control { display: inline-block; margin-top: 4px; }

/** pagination */
.pagination-wrap { font-size: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 20px; color: #666; }

.pagination-wrap .pagination { display: -webkit-box; display: -ms-flexbox; display: flex; }

.pagination-wrap .pagination li.page-item { margin: 0 4px; }

.pagination-wrap .pagination li.page-item button { cursor: pointer; display: inline-block; padding: 4px 10px; border-radius: 4px; text-align: center; vertical-align: middle; border: 1px solid #DCDCDC; }

.pagination-wrap .pagination li.page-item button.prev, .pagination-wrap .pagination li.page-item button.next { border: none; }

.pagination-wrap .pagination li.page-item button:hover, .pagination-wrap .pagination li.page-item button.current { color: #fff; border-color: #2763BA; background: #2763BA; }

.pagination-wrap .pagination li.page-item button.prev:hover, .pagination-wrap .pagination li.page-item button.next:hover { background: transparent; }

.pagination-wrap + .tabs { margin-top: 36px; }

/** card */
.card { display: -webkit-box; display: -ms-flexbox; display: flex; }

.card .content { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; margin-left: 10px; }

/** box */
.approval-basic-box { margin-top: 10px; padding: 8px; border: 1px solid #EBEBEB; }

.approval-basic-box:first-child { margin-top: 0; }

.approval-basic-box .plate { margin-top: 6px; }

.gray-box { padding: 12px; background: #F9F9F9; }

.gray-box.scroll { overflow: hidden; overflow-y: auto; }

.gray-box.scroll.h350 { height: 350px; }

.gray-box.scroll.h350 + .white-box { border: 0; border-top: 1px solid #dcdcdc; border-radius: 0; }

.gray-box.scroll.h350 + .white-box .replay-box { margin-bottom: 10px; }

.gray-box.scroll.h350 .white-box .no-border { border-bottom: 1px solid #dcdcdc; border-radius: 0; }

.gray-box .filebox { margin-top: 8px; }

.gray-box .filebox:first-child { margin-top: 0; }

.white-box { border-radius: 4px; border: 1px solid #dcdcdc; padding: 8px; background: #fff; }

.card-box-white { font-size: 12px; padding: 8px; background: #fff; border: 1px solid #dcdcdc; border-radius: 4px; margin-top: 8px; }

.card-box-white:first-child { margin-top: 0; }

.card-box-white.no-border { border: none; }

.card-box-white .tit { font-weight: 700; color: #000; }

.card-box-white .tit em { font-weight: 400; color: #666; }

.card-box-white .txt { margin-top: 6px; }

.card-box-white .date { font-weight: 400; color: #8A8A8A; margin-top: 2px; }

.bundle-box { padding: 8px; border: 1px solid #dcdcdc; border-radius: 4px; }

.bundle-box.blue-sky { border-color: #38A8E6; background: #F0F7FF; }

.bundle-box.blue-sky .tit { border-bottom: 1px solid #38A8E6; }

.bundle-box .tit { padding: 12px; border-bottom: 1px solid #8A8A8A; }

/** 이전, 다음글 */
/** 댓글 등록 */
.replay-box { position: relative; font-size: 14px; font-weight: 700; border: 1px solid #dcdcdc; border-radius: 4px; }

.replay-box textarea { width: 100%; height: 100%; min-height: 120px; padding: 10px; color: #AEAEAE; -webkit-box-sizing: border-box; box-sizing: border-box; resize: none; }

.replay-box .btn-write { position: absolute; right: 10px; bottom: 10px; cursor: pointer; color: #2763BA; padding: 5px 10px; border: 1px solid #2763BA; border-radius: 16px; }

/** 좋아요 */
/** 첨부파일 drag &amp; drop */
.file-drag-drop { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 120px; border: 1px solid #dcdcdc; border-top: 4px solid #dcdcdc; border-radius: 4px; padding: 0 20px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #F8FAFD; }

.file-drag-drop .size { position: absolute; top: 12px; right: 12px; font-weight: 700; font-size: 8px; color: #AEAEAE; }

.file-drag-drop .file-upload .btn-upload { position: absolute; top: 50%; right: 20px; margin-top: -11px; }

.file-drag-drop .file-upload .btn-upload input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.file-drag-drop .file-upload .btn-upload label { display: inline-block; cursor: pointer; width: 26px; height: 21px; background: url("/assets/images/icon/icon-file-upload.svg") no-repeat 0 50%; }

.file-drag-drop .file-upload .placeholder { font-size: 14px; font-weight: 400; }

.approval-fn { padding: 8px 10px 18px; }

.approval-fn .btn-approval { width: 100%; height: 56px; font-size: 18px; font-weight: 700; color: #fff; background: #1f4f95; border-radius: 4px; -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24); }

.approval-fn .icon-regist { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.approval-fn .icon-regist:before { width: 14px; height: 14px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M17.4697 2.46967C17.7626 2.17678 18.2374 2.17678 18.5303 2.46967L21.5303 5.46967C21.8232 5.76256 21.8232 6.23744 21.5303 6.53033L12.5303 15.5303C12.3897 15.671 12.1989 15.75 12 15.75H9C8.58579 15.75 8.25 15.4142 8.25 15V12C8.25 11.8011 8.32902 11.6103 8.46967 11.4697L17.4697 2.46967ZM9.75 12.3107V14.25H11.6893L19.9393 6L18 4.06066L9.75 12.3107Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M15.2197 4.71967C15.5126 4.42678 15.9874 4.42678 16.2803 4.71967L19.2803 7.71967C19.5732 8.01256 19.5732 8.48744 19.2803 8.78033C18.9874 9.07322 18.5126 9.07322 18.2197 8.78033L15.2197 5.78033C14.9268 5.48744 14.9268 5.01256 15.2197 4.71967Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.43934 3.43934C3.72064 3.15804 4.10217 3 4.5 3H12.75C13.1642 3 13.5 3.33579 13.5 3.75C13.5 4.16421 13.1642 4.5 12.75 4.5L4.5 4.5L4.5 19.5H19.5V11.25C19.5 10.8358 19.8358 10.5 20.25 10.5C20.6642 10.5 21 10.8358 21 11.25V19.5C21 19.8978 20.842 20.2794 20.5607 20.5607C20.2794 20.842 19.8978 21 19.5 21H4.5C4.10218 21 3.72065 20.842 3.43934 20.5607C3.15804 20.2794 3 19.8978 3 19.5V4.5C3 4.10217 3.15804 3.72064 3.43934 3.43934Z" fill="%23fff"/%3E%3C/svg%3E%0A'); margin-right: 11px; }

.page-split { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; height: 100%; overflow: hidden; }

.page-split .split-detail { width: 69.75%; position: relative; border: 1px solid #dcdcdc; -webkit-transition: width 0.5s; transition: width 0.5s; }

.page-split .split-detail .btn-split { width: 44px; height: 44px; position: absolute; top: 0; right: 0; cursor: pointer; border-radius: 0 0 0 4px; background: #f4f4f4; -webkit-transition: -webkit-transform 0.5s linear; transition: -webkit-transform 0.5s linear; transition: transform 0.5s linear; transition: transform 0.5s linear, -webkit-transform 0.5s linear; }

.page-split .split-detail .btn-split:hover + .tooltip-split { opacity: 1; z-index: 0; }

.page-split .split-detail .tooltip-split { display: inline-block; font-size: 14px; position: absolute; right: 10px; top: 55px; z-index: -1; padding: 12px; color: #fff; border-radius: 8px; background: #38A8E6; -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.24); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.24); opacity: 0; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.page-split .split-detail .tooltip-split:before { content: ''; position: absolute; top: -10px; right: 15px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 12px solid #38A8E6; }

.page-split .split-aside { width: calc(30.25% - 20px); margin-left: 20px; -webkit-transition: margin 0.5s; transition: margin 0.5s; }

.page-split .split-aside .tabs .table-view { table-layout: fixed; }

.page-split .split-aside .tabs .table-view tbody tr td { padding: 4px 0 4px 10px; }

.page-split .split-aside .tabs .empty { height: 170px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.page-split.open .split-detail { width: 100%; }

.page-split.open .split-detail .btn-split { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.page-split.open .split-aside { margin-right: -500px; }

/*add*/
.approoval-tit1 { border-bottom: 1px solid #dcdcdc; background-color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 12px; margin-bottom: 12px; }

.approoval-tit1 h3 { font-size: 18px; font-weight: 700; margin-right: 12px; line-height: 32px; }

/*paging*/
.approval-paging { -webkit-box-pack: end !important; -ms-flex-pack: end !important; justify-content: flex-end !important; }

/*common*/
.mr-12 { margin-right: 12px !important; }

.w350 { width: 350px; }
/*# sourceMappingURL=approval-main.css.map */