@charset "UTF-8";
body { padding: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }

body h1 { font-size: 24px; }

body h2 { font-size: 20px; margin: 5px 0; }

body h3 { font-size: 16px; color: #7952b3; margin: 20px 0 5px 0; }

body h4 { font-size: 14px; color: #0dcaf0; margin: 30px 0 5px 0; }

body .bd-example { font-size: 14px; font-weight: 700; position: relative; padding: 1.5rem 0; margin-right: 0; margin-left: 0; color: #7952b3; border-width: 1px; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; }

body .bd-example .opener, body .bd-example .btn-toast { cursor: pointer; position: relative; font-weight: 700; min-width: 25%; background: -webkit-gradient(linear, left bottom, left top, from(#0d6efd), to(#0d6efd)); background: linear-gradient(0deg, #0d6efd, #0d6efd); text-align: center; margin: 0 10px; padding: 12px; color: #fff; border-radius: 8px; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); -webkit-transition: .5s; transition: .5s; }

body .bd-example .opener:hover, body .bd-example .btn-toast:hover { -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

body .bd-example .btn-toast[class*="success"] { background: #38A8E6; }

body .bd-example .btn-toast[class*="info"] { background: #0dcaf0; }

body .bd-example .btn-toast[class*="error"] { background: #E85959; }

body .bd-example .btn-toast[class*="warning"] { background: #F89406; }

body .bd-callout { font-size: 13px; font-weight: bold; padding: 1.25rem; margin-top: 3rem; margin-bottom: 1.25rem; border: 2px solid #e9ecef; border-left-width: 0.25rem; border-radius: 0.25rem; }

body .bd-callout + h4 { margin-top: 0; }

body .bd-callout.bd-callout-info { border-left-color: #2763BA; }

body .bd-callout pre, body .bd-callout code { font-family: "nskr", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif; color: green; margin: 0; }

body .bd-callout ~ .layer-datepicker, body .bd-callout ~ .layer-timepicker { position: static; margin-top: 20px; }

.section-title { margin: 40px 0 5px; }

.sub-text { color: #777; margin-bottom: 10px; }

.desc-list { margin: 5px 0; font-size: 14px; }

.desc-list dt { font-weight: 600; margin-top: 5px; }

.desc-list > dd, .desc-list > li, .desc-item { position: relative; padding-left: 1em; }

.desc-list > dd:before, .desc-list > li:before, .desc-item:before { content: '\002B'; position: absolute; left: 0; top: 0; color: #999; font-weight: 700; }
/*# sourceMappingURL=guide.css.map */