@charset "UTF-8";
/* MODAL */
.ui-dialog { font-family: "nskr"; font-size: inherit; padding: 0; }

.ui-dialog a, .ui-dialog select, .ui-dialog input, .ui-dialog button { font-family: "nskr"; }

.ui-dialog .ui-widget-header { border: none; }

.ui-dialog .ui-widget-header.ui-dialog-titlebar { padding: 40px 40px 0; border-radius: 0; background: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-dialog .ui-widget-header.ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close { width: 24px; height: 24px; top: inherit; right: 40px; margin: 0; border: none; background: url("/assets/images/icon/icon_modal_close.svg"); }

.ui-dialog .ui-widget-header.ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close .ui-icon { display: none; }

.ui-dialog .ui-widget-header .ui-dialog-title { font-size: 18px; font-weight: 700; margin: 0; line-height: 26.06px; }

.ui-dialog.mini .ui-widget-header { border: none; }

.ui-dialog.mini .ui-widget-header.ui-dialog-titlebar { padding: 30px 40px 0; }

.ui-dialog.mini .ui-widget-header.ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }

.ui-dialog.mini .ui-dialog-content { padding: 0 40px 30px; }

.ui-dialog.mini-info .ui-widget-header { border: none; }

.ui-dialog.mini-info .ui-widget-header.ui-dialog-titlebar { padding: 30px 40px 0; }

.ui-dialog.mini-info .ui-widget-header.ui-dialog-titlebar .ui-dialog-titlebar-close { right: 30px; }

.ui-dialog.mini-info .ui-widget-header.ui-dialog-titlebar .ui-dialog-title { display: none; }

.ui-dialog.mini-info .ui-dialog-content { margin-top: 25px; padding: 0 40px 30px; }

.ui-dialog.small-space.ui-widget-content { border-radius: 0; -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.24); box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.24); }

.ui-dialog.small-space .ui-widget-header.ui-dialog-titlebar { padding: 16px 16px 0; }

.ui-dialog.small-space .ui-widget-header.ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close { right: 16px; }

.ui-dialog.small-space .ui-dialog-content { padding: 0 16px 16px; }

.ui-dialog .ui-dialog-content { padding: 0 40px 40px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-dialog.ui-widget-content { border: none; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 8px; }

.ui-widget-overlay { opacity: 0.5; background: #000; }

/* Tabs */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font: inherit; }

.ui-widget.ui-tabs { font-family: "nskr"; border: none; padding: 0; }

.ui-widget.ui-tabs .ui-tabs-nav { padding: 0; border: none; background: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.ui-widget.ui-tabs .ui-tabs-nav li { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; border: none; margin: 0 0 0 4px; }

.ui-widget.ui-tabs .ui-tabs-nav li:first-child { margin-left: 0; }

.ui-widget.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { font-family: "nskr"; font-size: 14px; font-weight: 700; display: inline-block; width: 100%; color: #aeaeae; border-radius: 4px 4px 0px 0px; padding: 10px; text-align: center; background: #f4f4f4; }

.ui-widget.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor { color: #fff; background: #2763ba; }

.ui-widget.ui-tabs .ui-tabs-panel { padding: 12px; border: 1px solid #e5e5e5; border-radius: 0; }

.ui-widget.ui-tabs.panel-no-border .ui-tabs-panel { padding: 20px 0; border: none; }

/* Tooltip */
.tooltip-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tooltip-area a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 8px; margin-right: 8px; }

.ui-tooltip { display: inline-block; padding: 12px; color: white; border-radius: 8px; background: black; font-size: 14px; font-weight: 400; -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); }

.ui-tooltip.ui-widget-content { border-width: 0; }

.ui-tooltip .arrow { width: 70px; height: 16px; overflow: hidden; position: absolute; left: 50%; margin-left: -57px; bottom: -12px; }

.ui-tooltip .arrow:after { display: inline-block; background: black; border: 0; }

.ui-tooltip .arrow.top { top: -12px; bottom: auto; }

.ui-tooltip .arrow.left { left: 20%; }

.ui-tooltip .arrow:after { content: ""; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; -webkit-box-shadow: 6px 5px 9px -9px black; box-shadow: 6px 5px 9px -9px black; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.ui-tooltip .arrow.top:after { bottom: -20px; top: auto; }

.ui-tooltip.tooltip-right .arrow { left: 100%; bottom: -12px; }

.breadcrumb-sel .ui-selectmenu-button.ui-button { width: auto; height: 28px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 10px; border-radius: 28px; border: 0; background-color: #f4f4f4; }

.breadcrumb-sel .ui-selectmenu-button.ui-button:after { width: 13px; height: 13px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url("/assets/images/icon/icon-arr-btm-s.svg"); margin-left: auto; }

.breadcrumb-sel .ui-selectmenu-button.ui-button .ui-selectmenu-text { margin-right: 10px; font: inherit; font-size: 12px; font-weight: 700; color: #666; }

.breadcrumb-sel .ui-selectmenu-button.ui-button .ui-selectmenu-icon.ui-icon { display: none; }

.breadcrumb-sel .success .ui-selectmenu-button.ui-button { background-color: #2763ba; }

.breadcrumb-sel .success .ui-selectmenu-button.ui-button:after { background-image: url("/assets/images/icon/icon-arr-btm-s-white.svg"); }

.breadcrumb-sel .success .ui-selectmenu-button.ui-button .ui-selectmenu-text { color: #fff; }

.ui-selectmenu-menu .ui-menu.ui-widget-content { color: #666; font-size: 12px; font-weight: 700; background-color: #fff; border: 1px solid #666; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); }

.ui-selectmenu-menu .ui-menu.ui-widget-content .ui-menu-item { height: 33px; line-height: 33px; color: #666; list-style: none; }

.ui-selectmenu-menu .ui-menu.ui-widget-content .ui-menu-item-wrapper { padding: 0 20px 0 9px; }

.ui-selectmenu-menu .ui-menu.ui-widget-content .ui-state-active { margin: 0; font-weight: 700; color: #000; background-color: #F4F4F4; border: 0; }

.jstree { font: inherit; }

.jstree .jstree-ocl { position: relative; z-index: 2; }

.jstree .jstree-node:before, .jstree .jstree-node:after { z-index: 1; }

.jstree .jstree-wholerow { z-index: 0; }

.jstree .jstree-anchor { position: relative; }

.jstree .jstree-icon:empty { width: 16px; margin-right: 4px; }

.jstree .jstree-node, .jstree .jstree-anchor, .jstree .jstree-icon:empty { min-height: 32px; line-height: 32px; }

.jstree > .jstree-container-ul > .jstree-node, .jstree .jstree-children > .jstree-node { padding-left: 12px; }

.jstree .jstree-ocl, .jstree .jstree-checkbox, .jstree .jstree-checkbox:hover { background-position: center !important; background-repeat: no-repeat !important; }

.jstree .jstree-clicked, .jstree .jstree-hovered { font-weight: 500; }

.jstree .jstree-themeicon { display: none; }

.jstree .jstree-leaf .jstree-ocl { background-image: url("/assets/images/tree/icon-tree-bullet.svg") !important; background-size: 8px; }

.jstree .jstree-clicked > .jstree-themeicon { background-image: url("/assets/images/tree/icon-tree-bullet-on.svg"); background-size: 8px; }

.jstree .jstree-open > .jstree-ocl { background: url("/assets/images/tree/icon-tree-minus.svg"); background-size: 10px; }

.jstree .jstree-closed > .jstree-ocl { background: url("/assets/images/tree/icon-tree-plus.svg"); background-size: 10px; }

.jstree .jstree-checkbox, .jstree .jstree-checkbox:hover { background-image: url("/assets/images/tree/icon-tree-check.svg"); background-size: 10px; }

.jstree.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox, .jstree .jstree-checked > .jstree-checkbox { background-image: url("/assets/images/tree/icon-tree-check-on.svg"); }

.jstree .jstree-node { position: relative; background: none; margin-left: 9px; }

.jstree .jstree-node:before { content: ""; position: absolute; display: block; top: 0; bottom: 0; left: 20px; width: 1px; background: #dcdcdc; }

.jstree .jstree-node.jstree-closed:before, .jstree .jstree-node.jstree-leaf:before { display: none; }

.jstree .jstree-node:first-child:before { top: 16px; }

.jstree .jstree-node.jstree-last:before { bottom: 15px; }

.jstree .jstree-open:before { top: 16px; bottom: 15px; }

.jstree .jstree-container-ul > .jstree-node:before { display: block !important; top: 0; bottom: 0; }

.jstree .jstree-container-ul > .jstree-node:first-child:before { top: 16px; }

.jstree .jstree-container-ul > .jstree-node.jstree-last:before { bottom: 15px; }

.jstree .jstree-node:after { content: ""; position: absolute; display: block; top: 16px; left: -1px; width: 16px; height: 1px; background: #dcdcdc; }

.jstree .jstree-container-ul > .jstree-node:after { display: none; }

.js-tree-checkbox .jstree .jstree-leaf:after { display: none; }

.jstree .jstree-leaf:first-child:after { top: 16px; left: 0; width: 16px; height: 1px; display: block; }

.jstree .jstree-container-ul > .jstree-leaf:first-child:after { display: none; background: red; }

.js-tree--checkbox .jstree .jstree-node.jstree-closed:before, .js-tree--checkbox .jstree .jstree-node.jstree-leaf:before { display: block; }

.js-tree--checkbox .jstree .jstree-open:before { bottom: 0; }

.js-tree--checkbox .jstree .jstree-leaf:after { display: none; }

.js-tree--checkbox .jstree .jstree-leaf:first-child:after { display: block; }

.js-tree--checkbox .jstree .jstree-container-ul > .jstree-node:first-child:after { background: green; display: none; }

.jstree .jstree-open > .jstree-anchor { font-weight: bolder; }

.jstree .jstree-wholerow { width: auto; height: 32px; border-radius: 4px; left: 0; right: 0; }

.jstree .jstree-wholerow-hovered, .jstree .jstree-hovered { background: #f0f7ff; }

.jstree .jstree-wholerow-clicked, .jstree.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked { background: #f9f9f9; }

.jstree .jstree-leaf .jstree-wholerow-clicked { background: #2763ba !important; }

.jstree .jstree-anchor.jstree-clicked.jstree-hovered { background: none !important; }

.jstree .jstree-leaf > .jstree-anchor.jstree-clicked { color: #fff; }

:root { font-size: 10px; }

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

#u-skip { position: relative; z-index: 3000; }

#u-skip a { position: absolute; top: -30px; left: 0; width: 138px; border: 1px solid #ababab; background: #333; text-align: center; }

#u-skip a:active, #u-skip a:focus { top: 0; text-decoration: none; z-index: 1000; }

#u-skip span { display: inline-block; padding: 2px 6px 0 0; font-size: 13px; line-height: 26px; color: #fff; letter-spacing: -1px; white-space: nowrap; }

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul { margin: 0; padding: 0; }

body, button, input, select, table, textarea { color: #000; font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif; }

body::-webkit-scrollbar, body ::-webkit-scrollbar { width: 8px; height: 8px; }

body::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.4); border-radius: 4px; background-clip: padding-box; border: 1px solid transparent; }

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track { background: transparent; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; line-height: inherit; font-weight: 400; }

textarea { -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: transparent; border: 0; word-break: keep-all; word-wrap: break-word; }

button, input { border-radius: 0; border: 0; }

button { background-color: transparent; cursor: pointer; }

fieldset, img { border: 0; }

img { vertical-align: top; }

ol, ul { list-style: none; }

address, em { font-style: normal; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: underline; }

iframe { overflow: hidden; margin: 0; border: 0; padding: 0; vertical-align: top; }

mark { background-color: transparent; }

i { font-style: normal; }

input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus { outline-color: #000; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Light"), url("/assets/fonts/NotoSansKR-Light.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSans-Regular"), url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Regular.woff") format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSans-Medium"), url("/assets/fonts/NotoSansKR-Medium.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Bold"), url("/assets/fonts/NotoSansKR-Bold.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Bold.woff") format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Black"), url("/assets/fonts/NotoSansKR-Black.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Light"), url("/assets/fonts/NotoSansKR-Light.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSans-Regular"), url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Regular.woff") format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSans-Medium"), url("/assets/fonts/NotoSansKR-Medium.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Bold"), url("/assets/fonts/NotoSansKR-Bold.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Bold.woff") format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'nskr'; src: local("NotoSansKR-Black"), url("/assets/fonts/NotoSansKR-Black.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

body, button, input, select, table, textarea { color: #000; font-family: "nskr", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif; font-weight: 400; font-size: 14px; }

.h1 { font-family: "nskr"; font-weight: 900; }

.h2 { font-family: "nskr"; font-weight: 700; }

.h3 { font-family: "nskr"; font-weight: 500; }

.-color--blue-1 { color: #1f4f95; }

::-webkit-input-placeholder { color: #dcdcdc; font-weight: 500; }

:-ms-input-placeholder { color: #dcdcdc; font-weight: 500; }

::-ms-input-placeholder { color: #dcdcdc; font-weight: 500; }

::placeholder { color: #dcdcdc; font-weight: 500; }

.-mt-4n-0 { margin-top: 0px !important; }

.-mt-4n-1 { margin-top: 4px !important; }

.-mt-4n-2 { margin-top: 8px !important; }

.-mt-4n-3 { margin-top: 12px !important; }

.-mt-4n-4 { margin-top: 16px !important; }

.-mt-4n-5 { margin-top: 20px !important; }

.-mt-4n-6 { margin-top: 24px !important; }

.-mt-4n-7 { margin-top: 28px !important; }

.-mt-4n-8 { margin-top: 32px !important; }

.-mt-4n-9 { margin-top: 36px !important; }

.-mt-4n-10 { margin-top: 40px !important; }

.-mt-4n-11 { margin-top: 44px !important; }

.-mt-4n-12 { margin-top: 48px !important; }

.-mt-4n-13 { margin-top: 52px !important; }

.-mt-4n-14 { margin-top: 56px !important; }

.-mt-4n-15 { margin-top: 60px !important; }

.-mt-4n-16 { margin-top: 64px !important; }

.-mt-4n-17 { margin-top: 68px !important; }

.-mt-4n-18 { margin-top: 72px !important; }

.-mt-4n-19 { margin-top: 76px !important; }

.-mt-4n-20 { margin-top: 80px !important; }

.-ml-4n-0 { margin-left: 0px !important; }

.-ml-4n-1 { margin-left: 4px !important; }

.-ml-4n-2 { margin-left: 8px !important; }

.-ml-4n-3 { margin-left: 12px !important; }

.-ml-4n-4 { margin-left: 16px !important; }

.-ml-4n-5 { margin-left: 20px !important; }

.-ml-4n-6 { margin-left: 24px !important; }

.-ml-4n-7 { margin-left: 28px !important; }

.-ml-4n-8 { margin-left: 32px !important; }

.-ml-4n-9 { margin-left: 36px !important; }

.-ml-4n-10 { margin-left: 40px !important; }

.-ml-4n-11 { margin-left: 44px !important; }

.-ml-4n-12 { margin-left: 48px !important; }

.-ml-4n-13 { margin-left: 52px !important; }

.-ml-4n-14 { margin-left: 56px !important; }

.-ml-4n-15 { margin-left: 60px !important; }

.-ml-4n-16 { margin-left: 64px !important; }

.-ml-4n-17 { margin-left: 68px !important; }

.-ml-4n-18 { margin-left: 72px !important; }

.-ml-4n-19 { margin-left: 76px !important; }

.-ml-4n-20 { margin-left: 80px !important; }

.-mb-4n-0 { margin-bottom: 0px !important; }

.-mb-4n-1 { margin-bottom: 4px !important; }

.-mb-4n-2 { margin-bottom: 8px !important; }

.-mb-4n-3 { margin-bottom: 12px !important; }

.-mb-4n-4 { margin-bottom: 16px !important; }

.-mb-4n-5 { margin-bottom: 20px !important; }

.-mb-4n-6 { margin-bottom: 24px !important; }

.-mb-4n-7 { margin-bottom: 28px !important; }

.-mb-4n-8 { margin-bottom: 32px !important; }

.-mb-4n-9 { margin-bottom: 36px !important; }

.-mb-4n-10 { margin-bottom: 40px !important; }

.-mb-4n-11 { margin-bottom: 44px !important; }

.-mb-4n-12 { margin-bottom: 48px !important; }

.-mb-4n-13 { margin-bottom: 52px !important; }

.-mb-4n-14 { margin-bottom: 56px !important; }

.-mb-4n-15 { margin-bottom: 60px !important; }

.-mb-4n-16 { margin-bottom: 64px !important; }

.-mb-4n-17 { margin-bottom: 68px !important; }

.-mb-4n-18 { margin-bottom: 72px !important; }

.-mb-4n-19 { margin-bottom: 76px !important; }

.-mb-4n-20 { margin-bottom: 80px !important; }

.-mr-4n-0 { margin-right: 0px !important; }

.-mr-4n-1 { margin-right: 4px !important; }

.-mr-4n-2 { margin-right: 8px !important; }

.-mr-4n-3 { margin-right: 12px !important; }

.-mr-4n-4 { margin-right: 16px !important; }

.-mr-4n-5 { margin-right: 20px !important; }

.-mr-4n-6 { margin-right: 24px !important; }

.-mr-4n-7 { margin-right: 28px !important; }

.-mr-4n-8 { margin-right: 32px !important; }

.-mr-4n-9 { margin-right: 36px !important; }

.-mr-4n-10 { margin-right: 40px !important; }

.-mr-4n-11 { margin-right: 44px !important; }

.-mr-4n-12 { margin-right: 48px !important; }

.-mr-4n-13 { margin-right: 52px !important; }

.-mr-4n-14 { margin-right: 56px !important; }

.-mr-4n-15 { margin-right: 60px !important; }

.-mr-4n-16 { margin-right: 64px !important; }

.-mr-4n-17 { margin-right: 68px !important; }

.-mr-4n-18 { margin-right: 72px !important; }

.-mr-4n-19 { margin-right: 76px !important; }

.-mr-4n-20 { margin-right: 80px !important; }

.btn-favorit:before { width: 1em; height: 1em; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url("/assets/images/icon/icon-favorit.svg"); }

.btn-favorit.on:before { background-image: url("/assets/images/icon/icon-favorit-on.svg"); }

.modal { display: none; background: #fff; border-radius: 8px; margin: 0 auto; }

.modal.ui-dialog-content { overflow: inherit; }

.modal .modal-header .sub-title { font-size: 12px; font-weight: 400; line-height: 17.38px; word-break: keep-all; }

.modal .modal-header + .modal-footer { margin-top: 20px; }

.modal .modal-body { font-size: 12px; margin-top: 25px; }

.modal .modal-body .txt-message { margin: 46px auto 0 auto; }

.modal .modal-body .txt-message dt { font-size: 18px; font-weight: 700; color: #000; text-align: center; }

.modal .modal-body .txt-message dt.left { text-align: left; }

.modal .modal-body .txt-message dd { font-size: 12px; font-weight: 400; color: #4B4B4B; }

.modal .modal-body .txt-message dd.center { text-align: center; }

.modal .modal-footer { margin: 40px 0 0 0; }

.modal .modal-footer .page-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 -5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.modal .modal-footer .page-btn .btn { font-size: 16px; font-weight: 700; height: 48px; margin: 0 5px; padding: 12px 0; text-align: center; border-radius: 8px; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 23px; cursor: pointer; }

.modal .modal-footer .page-btn .btn.btn-blue { color: #fff; background: #2763BA; }

.modal .modal-footer .page-btn .btn.btn-gray { color: #666; background: #F4F4F4; }

.modal .modal-footer .page-btn .btn.btn-red { color: #fff; background: #EA6969; }

.modal .modal-footer .page-btn .btn.btn-indigo { color: #fff; background: #464775; }

.modal .modal-footer .page-btn.btn-space-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.modal .modal-footer .page-btn.btn-space-between .btn { width: 50%; }

.modal .modal-footer .page-btn.btn-space-between .btn:first-child { width: 16.6%; }

.modal .modal-footer .page-btn.btn-full .btn { width: 100%; }

.modal .modal-footer .page-btn.btn-full-between .btn { width: 70%; }

.modal .modal-footer .page-btn.btn-full-between .btn:first-child { width: 30%; }

.modal.modal-org-assign .modal-footer .page-btn .btn.btn-blue { max-width: 400px; }

.modal.modal-org-assign .table-data .scrollable-tbody { max-height: 616px; }

.modal.modal-select-employee .l-org .search-result { width: 480px; -ms-flex-negative: 0; flex-shrink: 0; }

.modal.modal-select-employee .modal-footer .page-btn .btn.btn-blue { max-width: 600px; }

.modal.modal-select-employee .table-data .scrollable-tbody { max-height: 560px; }

.modal.modal-manager-info .modal-body, .modal.modal-distribution-status .modal-body { margin-top: 44px; }

.modal.modal-manager-info .modal-footer .page-btn .btn.btn-blue, .modal.modal-distribution-status .modal-footer .page-btn .btn.btn-blue { width: 350px; }

.modal.modal-manager-info .section-title, .modal.modal-distribution-status .section-title { margin: 44px 0 12px; font-size: 12px; font-weight: 500; color: #000; }

.modal.modal-request-retrans .modal-body { margin-top: 40px; }

.modal.modal-request-retrans .input-wrap + .input-wrap { margin-top: 20px; }

.modal.modal-request-retrans .input-wrap label { display: block; margin-bottom: 4px; font-size: 12px; font-weight: 500; color: #000; }

.modal.modal-request-retrans .input-wrap input[type="text"] { width: 100%; height: 36px; }

.modal.modal-request-retrans .input-wrap textarea { width: 100%; height: 120px; }

.modal.modal-write-answer .modal-footer .page-btn .btn.btn-gray { width: 200px; }

.modal.modal-write-answer .modal-footer .page-btn .btn.btn-blue { width: 600px; }

.modal.modal-board-view .board-view-title .info-txt { padding-left: 0; }

.modal.modal-board-view .board-detail .detail-contents .detail-view { font-size: 14px; color: #000; font-weight: 400; }

.modal.modal-board-view .identify-no { margin: 24px 0 4px; font-size: 12px; color: #AEAEAE; }

.modal.modal-board-view .identify-no + .detail-view { padding-top: 0; }

.modal.modal-board-view .btn-group-area .detail-title { color: #000; font-weight: 500; }

.modal.modal-board-view .modal-footer .page-btn .btn.btn-blue { width: 600px; }

.modal-apply-club-opening .input-wrap + .input-wrap { margin-top: 12px; }

.modal-apply-club-opening .input-wrap label { display: block; margin-bottom: 8px; }

.modal-apply-club-opening .input-wrap input[type="text"], .modal-apply-club-opening .input-wrap select { width: 100%; height: 36px; }

.modal-apply-club-opening .input-wrap select { font-size: 14px; color: #000; font-weight: 700; background-position: right 8px center; }

.modal-apply-club-opening .input-wrap textarea { width: 100%; height: 120px; }

.modal.modal-user-info { color: #000; }

.modal.modal-user-info .modal-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.modal.modal-user-info .avartar { border-radius: 50%; overflow: hidden; margin-bottom: 12px; }

.modal.modal-user-info .avartar > img { width: 48px; height: 48px; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

.modal.modal-user-info .department { font-size: 12px; }

.modal.modal-user-info .user-name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 28px; }

.modal.modal-user-info .user-name .name { font-weight: 700; }

.modal.modal-user-info .user-name .flag { margin-left: 8px; }

.modal.modal-user-info .section-title { font-size: 14px; font-weight: 700; margin: 28px 0 20px; }

.modal.modal-user-info .info-table { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 12px; }

.modal.modal-user-info .info-table.-is-bg { background: #F4F4F4; border-radius: 4px; }

.modal.modal-user-info .info-table .legend, .modal.modal-user-info .info-table .text { margin: 4px 0; font-size: 14px; font-weight: 400; }

.modal.modal-user-info .info-table .legend { -ms-flex-negative: 0; flex-shrink: 0; width: 80px; color: #666; }

.modal.modal-user-info .info-table .text { width: calc(100% - 80px); padding-left: 30px; }

.ui-dialog.modal-alert, .ui-dialog.modal-confirm { padding: 40px; }

.ui-dialog.modal-alert .ui-widget-header.ui-dialog-titlebar, .ui-dialog.modal-alert .ui-dialog-content, .ui-dialog.modal-alert .ui-dialog-buttonpane, .ui-dialog.modal-confirm .ui-widget-header.ui-dialog-titlebar, .ui-dialog.modal-confirm .ui-dialog-content, .ui-dialog.modal-confirm .ui-dialog-buttonpane { padding: 0; }

.ui-dialog.modal-alert .ui-widget-header.ui-dialog-titlebar .ui-dialog-titlebar-close, .ui-dialog.modal-confirm .ui-widget-header.ui-dialog-titlebar .ui-dialog-titlebar-close { right: 0; }

.ui-dialog.modal-alert .msg, .ui-dialog.modal-confirm .msg { margin-top: 4px; font-size: 12px; font-weight: 400; color: #4B4B4B; word-break: break-word; }

.ui-dialog.modal-alert .ui-dialog-buttonpane, .ui-dialog.modal-confirm .ui-dialog-buttonpane { border: 0; }

.ui-dialog.modal-alert .ui-dialog-buttonpane .btn, .ui-dialog.modal-confirm .ui-dialog-buttonpane .btn { height: 48px; margin: 0; padding: 12px 0; font-size: 16px; font-weight: 700; border-radius: 8px; }

.ui-dialog.modal-alert .ui-dialog-buttonpane .btn.ok, .ui-dialog.modal-confirm .ui-dialog-buttonpane .btn.ok { color: #fff; background: #2763BA; border: 0; }

.ui-dialog.modal-alert .ui-dialog-buttonpane .btn.no, .ui-dialog.modal-confirm .ui-dialog-buttonpane .btn.no { color: #666; background: #F4F4F4; }

.ui-dialog.modal-alert .ui-dialog-buttonpane .btn + .btn, .ui-dialog.modal-confirm .ui-dialog-buttonpane .btn + .btn { margin-left: 8px; }

.ui-dialog.modal-alert .ui-dialog-buttonpane .ui-dialog-buttonset, .ui-dialog.modal-confirm .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; }

.ui-dialog.modal-alert.negative .btn.ok, .ui-dialog.modal-confirm.negative .btn.ok { background: #EA6969; }

.ui-dialog.modal-alert .ui-widget-header .ui-dialog-title { color: #000; }

.ui-dialog.modal-alert .ui-dialog-buttonpane { margin-top: 11px; }

.ui-dialog.modal-alert .msg { min-height: 3em; }

.ui-dialog.modal-alert .btn.ok { width: 100%; }

.ui-dialog.modal-confirm .ui-dialog-buttonpane { margin-top: 40px; }

.ui-dialog.modal-confirm .ui-dialog-content { margin-top: 65px; }

.ui-dialog.modal-confirm .txt-message { padding-top: 210px; background: url("/assets/images/popup/popup_write-ok.png") no-repeat top center/contain; }

.ui-dialog.modal-confirm.negative .txt-message { background-image: url("/assets/images/popup/popup_write-cancle.png"); }

.ui-dialog.modal-confirm .title { font-size: 18px; color: #000; font-weight: 700; line-height: 1.45; text-align: center; }

.ui-dialog.modal-confirm .btn.ok { width: calc(70% - 4px); }

.ui-dialog.modal-confirm .btn.no { width: calc(30% - 4px); }

.toast-title { font-weight: bold; }

.toast-message { -ms-word-wrap: break-word; word-wrap: break-word; }

.toast-message a, .toast-message label { color: #FFFFFF; }

.toast-message a:hover { color: #CCCCCC; text-decoration: none; }

.toast-close-button { position: relative; right: -0.3em; top: -0.3em; float: right; font-size: 20px; font-weight: bold; color: #FFFFFF; text-shadow: 0 1px 0 #ffffff; opacity: 0.8; line-height: 1; }

.toast-close-button:hover, .toast-close-button:focus { color: #000000; text-decoration: none; cursor: pointer; opacity: 0.4; }

.rtl .toast-close-button { left: -0.3em; float: left; right: 0.3em; }

/*Additional properties for button version iOS requires the button element instead of an anchor tag. If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button { padding: 0; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; }

.toast-top-center { top: 0; right: 0; width: 100%; }

.toast-bottom-center { bottom: 0; right: 0; width: 100%; }

.toast-top-full-width { top: 0; right: 0; width: 100%; }

.toast-bottom-full-width { bottom: 0; right: 0; width: 100%; }

.toast-top-left { top: 12px; left: 12px; }

.toast-top-right { top: 12px; right: 12px; }

.toast-bottom-right { right: 12px; bottom: 12px; }

.toast-bottom-left { bottom: 12px; left: 12px; }

#toast-container { position: fixed; z-index: 999999; pointer-events: none; /*overrides*/ }

#toast-container > div { position: relative; pointer-events: auto; overflow: hidden; margin: 0 0 6px; padding: 18px 18px 18px 50px; width: 400px; border-radius: 8px; background-position: 15px center; background-repeat: no-repeat; -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3); box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3); color: #FFFFFF; -webkit-transition: -webkit-box-shadow 0.5s; transition: -webkit-box-shadow 0.5s; transition: box-shadow 0.5s; transition: box-shadow 0.5s, -webkit-box-shadow 0.5s; }

#toast-container > div.rtl { direction: rtl; padding: 15px 50px 15px 15px; background-position: right 15px center; }

#toast-container > div:hover { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); cursor: pointer; }

#toast-container > .toast-info { background: #0dcaf0 url("/assets/images/icon/icon-toast-info.png") no-repeat 15px 50%; }

#toast-container > .toast-error { background: #E85959 url("/assets/images/icon/icon-toast-error.svg") no-repeat 15px 50%; }

#toast-container > .toast-error.icon-warning { background: #E85959 url("/assets/images/icon/icon-toast-warning.png") no-repeat 15px 50%; }

#toast-container > .toast-success { background: #38A8E6 url("/assets/images/icon/icon-toast-success.svg") no-repeat 15px 50%; }

#toast-container > .toast-warning { background: #F89406 url("/assets/images/icon/icon-toast-warning.png") no-repeat 15px 50%; }

#toast-container.toast-top-center > div, #toast-container.toast-bottom-center > div { width: 300px; margin-left: auto; margin-right: auto; }

#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div { width: 96%; margin-left: auto; margin-right: auto; }

#toast-container .toast-progress { position: absolute; left: 0; bottom: 0; height: 2px; background-color: #000000; opacity: 0.3; }

[class*="js-tree--"] { overflow: auto; }

.js-tree-search { padding: 20px; background: #f4f4f4; border-bottom: 1px solid #e1e1e1; }

.js-tree-search .inp-field-area { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.js-tree-control { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 12px; }

.js-tree-control .btn-tree { height: 20px; padding: 0 8px; font-size: 12px; border-radius: 4px; color: #666; background-color: #f4f4f4; }

.js-tree-control .btn-tree.primary { color: #fff; background-color: #2763ba; }

.js-tree-control .btn-tree + .btn-tree { margin-left: 4px; }

.js-tree-control .btn-tree:last-child { margin-left: auto; }

.js-tree-control .btn-tree [class^="icon-"] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.js-tree-control .btn-tree [class^="icon-"]:before { margin-right: 5px; }

.js-tree-control .btn-tree .icon-top:before { width: 10px; height: 10px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.875 0.375C0.875 0.167893 1.04289 0 1.25 0H8.75C8.95711 0 9.125 0.167893 9.125 0.375C9.125 0.582107 8.95711 0.75 8.75 0.75H1.25C1.04289 0.75 0.875 0.582107 0.875 0.375ZM5 1.5C5.09946 1.5 5.19484 1.53951 5.26517 1.60984L8.64017 4.98485C8.78661 5.13129 8.78661 5.36873 8.64016 5.51518C8.49372 5.66162 8.25628 5.66162 8.10983 5.51518L5.375 2.78033V9.375C5.375 9.58211 5.20711 9.75 5 9.75C4.79289 9.75 4.625 9.58211 4.625 9.375V2.78033L1.89017 5.51518C1.74372 5.66162 1.50628 5.66162 1.35984 5.51518C1.21339 5.36873 1.21339 5.13129 1.35983 4.98485L4.73483 1.60984C4.80516 1.53951 4.90054 1.5 5 1.5Z" fill="%23666"/%3E%3C/svg%3E'); }

.js-tree-control .btn-tree .icon-bottom:before { width: 10px; height: 10px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M5 0.25C5.20711 0.25 5.375 0.417893 5.375 0.625V7.21967L8.10983 4.48482C8.25628 4.33838 8.49372 4.33838 8.64016 4.48482C8.78661 4.63127 8.78661 4.86871 8.64017 5.01515L5.26517 8.39016C5.19484 8.46049 5.09946 8.5 5 8.5C4.90054 8.5 4.80516 8.46049 4.73483 8.39016L1.35983 5.01515C1.21339 4.86871 1.21339 4.63127 1.35984 4.48482C1.50628 4.33838 1.74372 4.33838 1.89017 4.48482L4.625 7.21967V0.625C4.625 0.417893 4.79289 0.25 5 0.25ZM0.875 9.625C0.875 9.41789 1.04289 9.25 1.25 9.25H8.75C8.95711 9.25 9.125 9.41789 9.125 9.625C9.125 9.83211 8.95711 10 8.75 10H1.25C1.04289 10 0.875 9.83211 0.875 9.625Z" fill="%23666"/%3E%3C/svg%3E%0A'); }

.js-tree-control .btn-tree .icon-regist:before { width: 10px; height: 10px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M17.4697 2.46967C17.7626 2.17678 18.2374 2.17678 18.5303 2.46967L21.5303 5.46967C21.8232 5.76256 21.8232 6.23744 21.5303 6.53033L12.5303 15.5303C12.3897 15.671 12.1989 15.75 12 15.75H9C8.58579 15.75 8.25 15.4142 8.25 15V12C8.25 11.8011 8.32902 11.6103 8.46967 11.4697L17.4697 2.46967ZM9.75 12.3107V14.25H11.6893L19.9393 6L18 4.06066L9.75 12.3107Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M15.2197 4.71967C15.5126 4.42678 15.9874 4.42678 16.2803 4.71967L19.2803 7.71967C19.5732 8.01256 19.5732 8.48744 19.2803 8.78033C18.9874 9.07322 18.5126 9.07322 18.2197 8.78033L15.2197 5.78033C14.9268 5.48744 14.9268 5.01256 15.2197 4.71967Z" fill="%23fff"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.43934 3.43934C3.72064 3.15804 4.10217 3 4.5 3H12.75C13.1642 3 13.5 3.33579 13.5 3.75C13.5 4.16421 13.1642 4.5 12.75 4.5L4.5 4.5L4.5 19.5H19.5V11.25C19.5 10.8358 19.8358 10.5 20.25 10.5C20.6642 10.5 21 10.8358 21 11.25V19.5C21 19.8978 20.842 20.2794 20.5607 20.5607C20.2794 20.842 19.8978 21 19.5 21H4.5C4.10218 21 3.72065 20.842 3.43934 20.5607C3.15804 20.2794 3 19.8978 3 19.5V4.5C3 4.10217 3.15804 3.72064 3.43934 3.43934Z" fill="%23fff"/%3E%3C/svg%3E%0A'); }

.jstree-node [class^="-icon--"]:before { width: 24px; height: 24px; background-color: #f4f4f4; background-size: 1em; background-position: center; }

/** common */
.hrline { border: 0; height: 1px; margin-top: 20px; margin-bottom: 20px; background-color: #dcdcdc; }

/** table */
.table { width: 100%; position: relative; border-collapse: collapse; }

.table.table-fixed { table-layout: fixed; }

.table.mt10 { margin-top: 10px; }

.table.mt20 { margin-top: 20px; }

.table.mt30 { margin-top: 30px; }

.table caption { overflow: hidden; width: 0; height: 0; line-height: 1; }

.table .required { text-indent: 10px; margin: 0 4px 0 -10px; color: #EB5757; vertical-align: middle; }

.table thead tr th { font-size: 12px; font-weight: 400; padding: 8px; color: #000; text-align: center; background: #F5F5F5; }

.table tbody tr.active td { background: #EBF1F9; }

.table tbody tr td { font-size: 14px; font-weight: 500; padding: 16px 8px; text-align: center; border-bottom: 1px solid #F0F0F0; background: #FFF; line-height: 20px; color: #000; word-break: break-all; }

.table tbody tr .flex-between { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.table tbody tr .empty { margin-top: 15px; }

.table tbody tr .new { font-size: 12px; color: #E85959; }

.table tbody tr .reply { font-size: 12px; color: #666; }

.table tbody tr .date { color: #666; word-break: keep-all; }

.table tbody tr .state { word-break: keep-all; }

.table tbody tr .state.wait { color: #38A8E6; }

.table tbody tr .state.doing { color: #E85959; }

.table tbody tr .state.complete { color: #666666; }

.table tbody tr .state.team { color: #3A9B72; }

.table tbody tr .classification { font-size: 12px; word-break: keep-all; }

.table tbody tr:last-child td { border-bottom: 1px solid #DCDCDC; }

.table tbody tr .icon { vertical-align: middle; margin-left: 4px; }

.table .cell-left { text-align: left; }

.table .cell-right { text-align: right; }

.table.table-view { border-bottom: none; }

.table.table-view.table-small tbody th { padding: 14px 10px 14px 10px; }

.table.table-view tbody tr:first-child th { border-top: none; }

.table.table-view tbody tr th { font-size: 14px; font-weight: 400; padding: 14px 20px; text-align: left; color: #4b4b4b; background: #F5F5F5; -webkit-box-shadow: inset 0 4px 0 white, inset -8px -4px 0 white; box-shadow: inset 0 4px 0 white, inset -8px -4px 0 white; }

.table.table-view tbody tr th .row-list { margin: -5px 0; }

.table.table-view tbody tr th .row-list li { font-weight: 400; margin: 15px 0; }

.table.table-view tbody tr td { font-size: 14px; font-weight: 500; padding: 4px 12px; color: #000; text-align: left; border-bottom: none; }

.table.table-view tbody tr td .row-list { margin: -5px 0; }

.table.table-view tbody tr td .row-list li { font-weight: 500; margin: 15px 0; color: #000; }

.table.table-view tbody tr td.bg-type { -webkit-box-shadow: inset 0 4px 0 white, inset -8px -4px 0 white; box-shadow: inset 0 4px 0 white, inset -8px -4px 0 white; background: #F9F9F9; }

.table.table-view.table-division { border-top: 1px solid #DCDCDC; }

.table.table-view.table-border tbody tr:first-child th, .table.table-view.table-border tbody tr:first-child td { border-top: none; }

.table.table-view.table-border tbody tr th { border-top: 1px solid #dcdcdc; }

.table.table-view.table-border tbody tr td { border-top: 1px solid #dcdcdc; }

.table-outer-bordered { border-radius: 4px; border: 1px solid #dcdcdc; }

.table-outer-bordered thead tr th { padding: 12px 10px; border-bottom: 1px solid #dcdcdc; }

.table-outer-bordered thead tr th:first-child { border-radius: 3px 0 0 0; }

.table-outer-bordered thead tr th:last-child { border-radius: 0 3px 0 0; }

.table-outer-bordered tbody tr td { padding: 12px 10px; border-bottom: 1px solid #f4f4f4; }

.table-outer-bordered tbody tr.active td { background: #f4f4f4; }

.table-outer-bordered tbody tr:last-child td { border-bottom: none; }

.table-outer-bordered tbody tr:last-child td:first-child { border-radius: 0 0 0 3px; }

.table-outer-bordered tbody tr:last-child td:last-child { border-radius: 0 0 3px 0; }

.table-outer-bordered .ellipsis { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.board-detail .detail-header .btn-group-area .detail-title { font-size: 12px; color: #666; font-weight: 400; }

.board-detail .detail-header .btn-group-area .detail-title > span { display: inline-block; margin-right: 6px; vertical-align: middle; }

.board-detail .detail-header .btn-group-area .detail-title > span.user-avartar img { width: 24px; height: 24px; border-radius: 50%; }

.board-detail .detail-header .btn-group-area .detail-title > span.good { padding-left: 15px; background: url("/assets/images/icon/icon-thumbs-up.svg") no-repeat 0 50%; }

.board-detail .detail-header .btn-group-area .detail-title > span.comment { padding-left: 15px; background: url("/assets/images/icon/icon-comment-eye.svg") no-repeat 0 50%; }

.board-detail .detail-header .btn-group-area .detail-title > span.view-count { padding-left: 15px; background: url("/assets/images/icon/icon-chat-centered-text.svg") no-repeat 0 50%; }

.board-detail .detail-header .btn-group-area .detail-title .name { font-weight: 700; color: #000; word-break: keep-all; }

.board-detail .detail-contents { margin-top: 8px; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; }

.board-detail .detail-contents .detail-view { padding: 24px 0; }

.board-detail .detail-contents .detail-view .param { font-weight: 400; line-height: 1.8; }

.board-detail .detail-contents .file-line { padding: 14px 0 12px 0; border-top: 1px solid #dcdcdc; }

.board-detail .detail-contents .good-line { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 12px 0; border-top: 1px solid #dcdcdc; }

.board-detail .detail-contents .reply-line { padding-top: 20px; border-top: 1px solid #dcdcdc; }

.board-detail .detail-contents .paging-line { padding: 8px 0 20px 0; }

.board-detail .detail-contents .reply-write-line { padding: 20px 0; border-top: 1px solid #dcdcdc; }

.board-detail .detail-contents .page-control-line { padding: 20px 0; border-top: 2px solid #f4f4f4; }

.board-detail .item-center { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.like-view-table, .org-info { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.like-view-table .like-table, .org-info .like-table { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; color: #4b4b4b; border: 1px solid #f4f4f4; }

.like-view-table .like-table + .like-table, .org-info .like-table + .like-table { margin-top: 8px; }

.like-view-table .like-table .th, .like-view-table .like-table .td, .org-info .like-table .th, .org-info .like-table .td { padding: 10px; }

.like-view-table .like-table .th, .org-info .like-table .th { width: 26%; text-align: left; background: #f4f4f4; font-weight: bolder; }

.like-view-table .like-table .td, .org-info .like-table .td { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; font-weight: 500; }

.like-view-table .like-table.-th-3, .org-info .like-table.-th-3 { width: calc(33.333% - 5px); margin-top: 0; }

.like-view-table .like-table.-th-3 .th, .org-info .like-table.-th-3 .th { width: auto; }

.form-wrap .form-control-box { position: relative; margin-top: 12px; }

.form-wrap .form-control-box .form-label { font-size: 12px; font-weight: 500; color: #000; display: block; }

.form-wrap .form-control-box .form-control { display: inline-block; margin-top: 4px; }

.form-wrap .form-control-box .form-control:invalid ~ .val-error { display: block; }

.form-wrap .form-control-box .form-control.datepicker { background: #F9F9F9; }

.form-wrap .form-control-box .val-error { display: none; position: absolute; bottom: -7px; left: 0; -webkit-transform: translateY(100%); transform: translateY(100%); background-color: #FF6058; border-radius: 8px; color: #fff; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; min-height: 44px; padding: 12px; z-index: 10; }

.form-wrap .form-control-box .val-error:after { content: ''; position: absolute; left: 0; top: 0; -webkit-transform: translate(12px, -100%); transform: translate(12px, -100%); width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: none; border-bottom: 5px solid #FF6058; }

.form-wrap .form-control-box .coupler { display: inline-block; min-width: 20px; text-align: center; }

.form-wrap .form-control-box .ui-calendar { position: relative; font-size: 14px; color: #aeaeae; display: inline-block; }

.form-wrap .form-control-box .ui-calendar .ui-calendar-forms { position: relative; }

.form-wrap .form-control-box .ui-calendar .ui-calendar-forms .datepicker-trigger { position: absolute; top: 50%; right: 15px; margin-top: -7px; }

.layer-datepicker { position: absolute; top: 42px; left: 0; z-index: 11; width: 320px; padding: 26px 24px; border: 1px solid #dcdcdc; border-radius: 4px; -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24); background: #fff; }

.layer-datepicker .datepicker-header { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 16px; font-weight: 700; color: #666; }

.layer-datepicker .datepicker-header > button { position: absolute; top: 50%; margin-top: -10px; }

.layer-datepicker .datepicker-header > button.prev { left: 10px; }

.layer-datepicker .datepicker-header > button.next { right: 10px; }

.layer-datepicker .datepicker-header .ui-datepicker-title .year, .layer-datepicker .datepicker-header .ui-datepicker-title .month { display: inline-block; width: 100px; height: 28px; color: #000; text-align: center; border: 1px solid #AEAEAE; border-radius: 100px; background: #f4f4f4; }

.layer-datepicker .datepicker-calendar { margin-top: 20px; }

.layer-datepicker .datepicker-calendar .datepicker-large { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.layer-datepicker .datepicker-calendar .datepicker-large > li { width: calc(33.33% - 4px); margin: 2px; }

.layer-datepicker .datepicker-calendar .datepicker-large > li > button { width: 100%; height: 40px; font-size: 14px; color: #666; background: #F4F4F4; }

.layer-datepicker .datepicker-calendar .datepicker-large > li > button.current { color: #fff; background: #2763BA; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar { width: 100%; border-collapse: collapse; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar thead th { font-size: 10px; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar thead th.sunday { color: #E85959; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar thead th.saturday { color: #3F4ED6; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td { position: relative; font-size: 10px; text-align: center; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td a { display: inline-block; padding: 10px; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td.ui-datepicker-other-month { color: #aeaeae; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td.ui-datepicker-today:after { content: ''; position: absolute; right: 5px; top: 5px; width: 8px; height: 8px; border-radius: 50%; background: #38A8E6; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td.ui-datepicker-selected a { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 28px; height: 28px; color: #fff; margin: 0 auto; border-radius: 50%; vertical-align: middle; background: #2763BA; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td.ui-datepicker-selected a:after { content: ''; position: absolute; left: 50%; top: 0; z-index: -1; width: 100%; height: 100%; background: #f4f4f4; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td.ui-datepicker-disabled a, .layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td.ui-datepicker-disabled em { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 28px; background: #f4f4f4; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td:first-child:not(.ui-datepicker-selected) a, .layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td:first-child:not(.ui-datepicker-selected) em { border-radius: 28px 0 0 28px; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td:last-child a:after, .layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td:last-child em:after { display: none; }

.layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td:last-child.ui-datepicker-disabled a, .layer-datepicker .datepicker-calendar .ui-datepicker-calendar tbody tr td:last-child.ui-datepicker-disabled em { border-radius: 0 28px 28px 0; }

.layer-timepicker { position: absolute; top: 42px; left: 0; z-index: 11; width: 320px; height: 400px; padding: 28px 12px; border: 1px solid #dcdcdc; border-radius: 4px; -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24); background: #fff; }

.layer-timepicker .timepicker-header { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; text-align: center; }

.layer-timepicker .timepicker-header > p { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; }

.layer-timepicker .timepicker-header .timepicker-tit { font-size: 16px; font-weight: 700; color: #666; }

.layer-timepicker .timepicker-body { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.layer-timepicker .timepicker-body > div { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; margin: 25px 0; height: 220px; }

.layer-timepicker .timepicker-body .timepicker-colon { width: 16px; display: inline-block; margin-top: -10px; font-weight: 700; }

.layer-timepicker .timepicker-body .timepicker-hour .timepicker-column li button { background: #F6FBFF; }

.layer-timepicker .timepicker-body .timepicker-column { height: 100%; overflow: hidden; overflow-y: auto; margin: 0 -4px 0 0; }

.layer-timepicker .timepicker-body .timepicker-column li { margin: 4px 0 0 0; }

.layer-timepicker .timepicker-body .timepicker-column li:first-child { margin-top: 0; }

.layer-timepicker .timepicker-body .timepicker-column li button { display: inline-block; font-size: 14px; font-weight: 400; width: 90px; height: 40px; color: #666; background: #f4f4f4; }

.layer-timepicker .timepicker-body .timepicker-column li button:hover, .layer-timepicker .timepicker-body .timepicker-column li button.selected { color: #fff; background: #2763BA; }

.layer-timepicker .timepicker-body .timepicker-column:hover::-webkit-scrollbar-thumb, .layer-timepicker .timepicker-body .timepicker-column:hover ::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.4); }

.layer-timepicker .page-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 -5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.layer-timepicker .page-btn .board-btn-b { font-size: 16px; font-weight: 700; height: 48px; margin: 0 5px; padding: 12px 0; text-align: center; border-radius: 8px; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 23px; cursor: pointer; }

.layer-timepicker .page-btn.btn-full-between .board-btn-b { width: 70%; }

.layer-timepicker .page-btn.btn-full-between .board-btn-b:first-child { width: 30%; }

.layer-timepicker::-webkit-scrollbar, .layer-timepicker ::-webkit-scrollbar { width: 4px; height: 4px; }

.layer-timepicker::-webkit-scrollbar-thumb, .layer-timepicker ::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0); }

/** pagination */
.pagination-wrap { font-size: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 20px; color: #666; }

.pagination-wrap.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.pagination-wrap .pagination { display: -webkit-box; display: -ms-flexbox; display: flex; }

.pagination-wrap .pagination li.page-item { margin: 0 4px; }

.pagination-wrap .pagination li.page-item button { cursor: pointer; display: inline-block; padding: 4px 10px; border-radius: 4px; text-align: center; vertical-align: middle; border: 1px solid #DCDCDC; }

.pagination-wrap .pagination li.page-item button.prev, .pagination-wrap .pagination li.page-item button.next { border: none; }

.pagination-wrap .pagination li.page-item button:hover, .pagination-wrap .pagination li.page-item button.current { color: #fff; border-color: #2763BA; background: #2763BA; }

.pagination-wrap .pagination li.page-item button.prev:hover, .pagination-wrap .pagination li.page-item button.next:hover { background: transparent; }

.pagination-wrap + .tabs { margin-top: 36px; }

/** card &amp; listgroup, keywords items, category wrap */
.flex-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.flex-box .btngroup { margin: 0; }

.flex-box.between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.card { display: -webkit-box; display: -ms-flexbox; display: flex; }

.card .content { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; margin-left: 10px; }

.list-group li { margin-top: 8px; }

.list-group li:first-child { margin-top: 0; }

/** box */
.approval-basic-box { margin-top: 10px; padding: 8px; border: 1px solid #EBEBEB; }

.approval-basic-box:first-child { margin-top: 0; }

.approval-basic-box .plate { margin-top: 6px; }

.approval-basic-box .authority { font-size: 12px; padding: 2px 5px 2px 20px; border: 1px solid #dcdcdc; background: url("/assets/images/icon/icon_minus_circle.svg") no-repeat 5px 50%; }

.approval-basic-box .date { font-size: 12px; }

.approval-basic-box .date .time { color: #aeaeae; }

.gray-box { padding: 8px; background: #F9F9F9; }

.gray-box.border { border: 1px solid #dcdcdc; }

.gray-box.scroll { overflow: hidden; overflow-y: auto; }

.gray-box.scroll.h350 { height: 350px; }

.gray-box.scroll.h350 + .white-box { border: 0; border-top: 1px solid #dcdcdc; border-radius: 0; }

.gray-box.scroll.h350 + .white-box .replay-box { margin-bottom: 10px; }

.gray-box.scroll.h350 .white-box .no-border { border-bottom: 1px solid #dcdcdc; border-radius: 0; }

.gray-box .filebox { margin-top: 8px; }

.gray-box .filebox:first-child { margin-top: 0; }

.white-box { border-radius: 4px; border: 1px solid #dcdcdc; padding: 8px; background: #fff; }

.card-box-white { font-size: 12px; padding: 8px; background: #fff; border: 1px solid #dcdcdc; border-radius: 4px; margin-top: 8px; }

.card-box-white:first-child { margin-top: 0; }

.card-box-white.no-border { border: none; }

.card-box-white .tit { font-weight: 700; color: #000; }

.card-box-white .tit em { font-weight: 400; color: #666; }

.card-box-white .txt { margin-top: 6px; }

.card-box-white .date { font-weight: 400; color: #8A8A8A; margin-top: 2px; }

.bundle-box { padding: 8px; border: 1px solid #dcdcdc; border-radius: 4px; }

.bundle-box.gray { border-color: #aeaeae; background: #F9F9F9; }

.bundle-box.gray .tit { border-bottom: 1px solid #8A8A8A; }

.bundle-box.blue-sky { border-color: #38A8E6; background: #F0F7FF; }

.bundle-box.blue-sky .tit { border-bottom: 1px solid #38A8E6; }

.bundle-box .tit { padding: 12px; border-bottom: 1px solid #8A8A8A; }

/** 이전, 다음글 */
.page-control { position: relative; }

.page-control .prev .txt, .page-control .next .txt { position: relative; display: inline-block; font-size: 12px; padding: 8px 10px; color: #666; border-radius: 8px; background: #f4f4f4; }

.page-control .prev .txt:after, .page-control .next .txt:after { display: inline-block; content: ''; width: 18px; height: 18px; margin: 0 0 0 7px; vertical-align: middle; background: url("/assets/images/icon/icon-caret-circle.svg") no-repeat 100% 50%; }

.page-control .prev > a, .page-control .next > a { font-size: 12px; margin-left: 12px; }

.page-control .prev { margin-top: 8px; }

.page-control .prev .txt:after { content: ''; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.page-control .btn-field { position: absolute; right: 0; top: 0; }

.page-control .btn-field a { display: inline-block; text-decoration: none; padding: 6px 21px; border-radius: 8px; background: #EBEBEB; }

/** 댓글 등록 */
.replay-box { position: relative; font-size: 14px; font-weight: 700; border: 1px solid #dcdcdc; border-radius: 4px; }

.replay-box textarea { width: 100%; height: 100%; min-height: 120px; padding: 10px; color: #AEAEAE; -webkit-box-sizing: border-box; box-sizing: border-box; resize: none; }

.replay-box .btn-write, .replay-box .btn.btn-cancel-1 { position: absolute; right: 10px; bottom: 10px; cursor: pointer; color: #2763BA; padding: 5px 10px; border: 1px solid #2763BA; border-radius: 16px; }

.comments .total { font-size: 12px; margin-bottom: 25px; }

.comments .comment { position: relative; margin-top: 20px; }

.comments .comment .author { font-size: 12px; font-weight: 700; }

.comments .comment .txt { margin-top: 10px; }

.comments .comment .metadata { margin-top: 4px; }

.comments .comment .metadata .date { color: #666; }

.comments .comment .btngroup { position: absolute; top: 0; right: 0; }

.comments .comments { margin-left: 10px; }

.comments .comments .comment { margin-top: 15px; }

/** 첨부파일 drag &amp; drop */
.file-drag-drop { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 120px; border: 1px solid #dcdcdc; border-top: 4px solid #dcdcdc; border-radius: 4px; padding: 0 20px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #F8FAFD; }

.file-drag-drop .size { position: absolute; top: 12px; right: 12px; font-weight: 700; font-size: 8px; color: #AEAEAE; }

.file-drag-drop .file-upload .btn-upload { position: absolute; top: 50%; right: 20px; margin-top: -11px; }

.file-drag-drop .file-upload .btn-upload input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.file-drag-drop .file-upload .btn-upload label { display: inline-block; cursor: pointer; width: 26px; height: 21px; background: url("/assets/images/icon/icon-file-upload.svg") no-repeat 0 50%; }

.file-drag-drop .file-upload .placeholder { font-size: 14px; font-weight: 400; }

.text-editor-area { border: 1px solid #dcdcdc; border-radius: 4px; min-height: 384px; max-height: 600px; min-width: 1524px; width: 100%; }

.step-process { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.step-process li { position: relative; border: 1px solid #dcdcdc; border-radius: 8px; margin: 0 0 0 32px; padding: 25px 10px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.step-process li:first-child { margin-left: 0; }

.step-process li:first-child:after { display: none; }

.step-process li:nth-child(odd) { background: #F9F9F9; }

.step-process li:after { content: ''; position: absolute; top: calc(50% - 5px); left: -22px; width: 12px; height: 10px; background: url("/assets/images/icon/icon-step-arrow.svg") no-repeat 100% 50%; }

.step-process li dl { text-align: center; }

.step-process li dl dt { font-size: 16px; font-weight: 700; color: #2E2E2E; }

.step-process li dl dd { font-size: 12px; font-weight: 400; color: #2E2E2E; margin-top: 8px; }

select { -webkit-box-sizing: border-box; box-sizing: border-box; height: 40px; border: 1px solid #dcdcdc; border-radius: 4px; padding: 0 35px 0 10px; background: url("/assets/images/icon/arr_down_black.svg") no-repeat calc(100% - 12px) 50%; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #000; font-weight: 700; font-size: 12px; cursor: pointer; }

select.w100 { width: 100%; }

.sel-field { height: 28px; width: 140px; border: 1px solid #dcdcdc; border-radius: 4px; padding-left: 10px; background: url("/assets/images/icon/arr_down_black.svg") no-repeat 116px 50%/11px 6px; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #666; font-weight: 700; font-size: 12px; cursor: pointer; }

.sel-field-100 { height: 32px; width: 100%; background: url("/assets/images/icon/arr_down_black.svg") no-repeat calc(100% - 24px) 50%/11px 6px; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #666; font-size: 14px; font-weight: 700; }

.col-red { color: #E85959; }

.field-category { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-category .sel-field { height: 32px !important; }

.field-category .field-sch { position: relative; margin-left: 8px; margin-right: 8px; padding-left: 8px; }

.field-category .field-sch::after { content: ""; position: absolute; left: 0; top: 8px; width: 1px; height: 16px; background-color: #dcdcdc; }

.field-header { display: inline-block; }

.field-header .dropdown-sel-btn { position: relative; min-width: 140px; height: 32px; padding-left: 12px; padding-right: 42px; text-align: left; border: 1px solid #fff; border-radius: 4px; background-color: #2b65b8; font-size: 14px; font-weight: 700; color: #fff; cursor: pointer; }

.field-header .dropdown-sel-btn:after { content: ""; position: absolute; top: 50%; right: 12px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; height: 20px; background: url("/assets/images/icon/arr_down_white.svg") no-repeat 50% 50%; }

.field-header .dropdown-sel-btn.active + .dropdown-content { display: block; }

.field-header .dropdown-content { display: none; width: 150px; border: 1px solid #dcdcdc; background-color: #fff; }

.field-header .dropdown-content li { height: 33px; padding-left: 9px; line-height: 33px; }

.field-header .dropdown-content li button { width: 100%; height: 100%; text-align: left; cursor: pointer; }

.dropdown-sel { position: relative; }

.dropdown-sel .dropdown-content { position: absolute; z-index: 100; top: 38px; color: #666; font-size: 12px; font-weight: 700; background-color: #fff; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); }

.dropdown-sel .dropdown-content li { cursor: pointer; }

.dropdown-sel .dropdown-content li:hover, .dropdown-sel .dropdown-content li.active { background-color: #ebf1f9; }

.dropdown-sel .dropdown-content li:hover button, .dropdown-sel .dropdown-content li.active button { color: #000; font-weight: 700; }

.dropdown-item { position: absolute; z-index: 100; top: 100%; color: #666; width: 100%; font-size: 12px; font-weight: 700; margin-top: 4px; border: 1px solid #dcdcdc; background-color: #fff; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); }

.dropdown-item li button { display: inline-block; width: 100%; height: 100%; padding: 9px; font-size: 12px; font-weight: 700; color: #666; text-align: left; }

.dropdown-item li button:hover, .dropdown-item li button.active { color: #000; background: #F0F7FF; }

input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"] { font-size: 14px; font-weight: 700; border: 1px solid #dcdcdc; border-radius: 4px; padding: 12px; height: 36px; line-height: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="text"].w100, input[type="password"].w100, input[type="search"].w100, input[type="email"].w100, input[type="tel"].w100 { width: 100%; }

input[type="text"].inp-field-s, input[type="password"].inp-field-s, input[type="search"].inp-field-s, input[type="email"].inp-field-s, input[type="tel"].inp-field-s { height: 32px; font-size: 12px; }

input[type="text"]:-moz-read-only, input[type="password"]:-moz-read-only, input[type="search"]:-moz-read-only, input[type="email"]:-moz-read-only, input[type="tel"]:-moz-read-only { background-color: #F4F4F4; color: #aeaeae; border-color: #dcdcdc; }

input[type="text"]:read-only, input[type="password"]:read-only, input[type="search"]:read-only, input[type="email"]:read-only, input[type="tel"]:read-only { background-color: #F4F4F4; color: #aeaeae; border-color: #dcdcdc; }

.inp-field-area { position: relative; }

.inp-field-area .inp-field { width: 100%; height: 32px; padding-left: 12px; padding-right: 42px; border-radius: 4px; border: 1px solid #dcdcdc; color: #000; }

.inp-field-area .inp-field::-webkit-input-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .inp-field:-ms-input-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .inp-field::-ms-input-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .inp-field::placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.inp-field-area .btn-sch { position: absolute; right: 12px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; height: 20px; background: url("/assets/images/icon/icon-zoom.svg") no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.field-sms { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-sms label { font-size: 12px; font-weight: 700; color: #000; }

.txt-field-area { position: relative; }

.txt-field-area .txt-field { font-size: 14px; font-weight: 700; padding: 10px; width: 100%; border: 1px solid #dcdcdc; border-radius: 4px; height: 120px; resize: none; }

.txt-field-area .txt-field::-webkit-input-placeholder { font-weight: 700; color: #aeaeae; }

.txt-field-area .txt-field:-ms-input-placeholder { font-weight: 700; color: #aeaeae; }

.txt-field-area .txt-field::-ms-input-placeholder { font-weight: 700; color: #aeaeae; }

.txt-field-area .txt-field::placeholder { font-weight: 700; color: #aeaeae; }

.txt-field-area .btn-field { position: absolute; bottom: 14px; right: 12px; }

.file-dropdown { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.file-dropdown .dropdown-box { position: relative; margin: 4px; }

.file-dropdown .dropdown-box .addfile-area { padding: 5px 8px; max-width: 180px; height: auto; border-radius: 0; }

.file-dropdown .dropdown-box .addfile-area .file-desc { text-align: left; }

.file-dropdown .dropdown-box .addfile-area .file-desc p { width: 130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.addfile-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; height: 42px; border: 1px solid #dcdcdc; border-radius: 4px; padding: 0 8px; background-color: #fff; }

.addfile-area .ico-file { margin-right: 12px; }

.addfile-area .ico-file img { width: 26px; }

.addfile-area .file-desc p { color: #000; font-size: 12px; font-weight: 400; }

.addfile-area .file-desc strong { color: #666; font-size: 12px; font-weight: 400; }

.addfile-area .txt-placeholder { font-size: 14px; font-weight: 700; color: #aeaeae; }

.addfile-area .btn-file-close { justify-self: flex-end; margin-left: auto; width: 20px; height: 20px; background: url("/assets/images/icon/icon-delete.svg") no-repeat 100% 50%; text-indent: -9999px; cursor: pointer; }

.addfile-area .btn-file-add { border: 0; justify-self: flex-end; margin-left: auto; width: 20px; height: 20px; background: url("/assets/images/icon/icon-plus2.svg") no-repeat 100% 50%; text-indent: -9999px; cursor: pointer; }

.addfile-area .btn-file-down { border: 0; justify-self: flex-end; margin-left: auto; width: 20px; height: 20px; background: url("/assets/images/icon/icon-down.svg") no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.btn.btn-all-download { display: inline-block; cursor: pointer; width: 100%; height: 36px; font-size: 12px; font-weight: 700; color: #666; border-radius: 4px; text-align: left; padding: 0 14px 0 36px; background: #ebebeb url("/assets/images/icon/icon-all-download.svg") no-repeat 14px 50%; }

.btn.btn-write, .btn.btn-cancel-1 { cursor: pointer; font-size: 12px; font-weight: 700; padding: 5px 12px; background-color: #fff; color: #2763ba; border: 1px solid #2763ba; border-radius: 100px; }

.btn.btn-cancel-1 { color: #8A8A8A; border: 1px solid #DCDCDC; }

.btn.btn-approval-write { cursor: pointer; width: 100%; display: block; border-radius: 4px; background: #f0f7ff url("/assets/images/icon/icon-plus.svg") no-repeat 14px 50%; padding: 10px 0 10px 36px; text-align: left; font-size: 12px !important; font-weight: 700 !important; color: #1f4f95; margin-bottom: 4px; }

.btn.btn-prev-call { cursor: pointer; width: 100%; display: block; border-radius: 4px; padding: 10px 0 10px 36px; text-align: center; font-size: 12px !important; font-weight: 700 !important; color: #1f4f95; margin-bottom: 4px; background: #f0f7ff; }

.btn.btn-prev-call:before { content: ""; display: inline-block; width: 13px; height: 11px; margin-right: 10px; background: url("/assets/images/icon/icon-prev-call.svg") no-repeat 0 50%; }

.btn.btn-good { display: inline-block; width: 40px; height: 28px; padding: 6px 12px; text-align: center; border-radius: 50px; vertical-align: middle; background: #dcdcdc url("/assets/images/icon/icon-good.svg") no-repeat 50% 50%; }

.btn.btn-good.active { background: #2763ba url("/assets/images/icon/icon-good.svg") no-repeat 50% 50%; }

.switch-button { display: inline-block; }

.switch-button input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.switch-button input[type="checkbox"]:checked + label { text-indent: 24px; color: #fff; background: #3c72c1; }

.switch-button input[type="checkbox"]:checked + label:before { content: "ON"; }

.switch-button input[type="checkbox"]:checked + label:after { content: ""; right: calc(100% - 28px); }

.switch-button label { cursor: pointer; position: relative; display: inline-block; font-size: 14px; width: 72px; color: #8a8a8a; padding: 6px; text-align: center; text-indent: -24px; border-radius: 16px; background: #dcdcdc; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: 0.5s; transition: 0.5s; }

.switch-button label:before { content: "OFF"; }

.switch-button label:after { content: ""; position: absolute; right: 4px; top: 50%; margin-top: -12px; width: 24px; height: 24px; border-radius: 50%; background: #fff; -webkit-transition: right 0.5s; transition: right 0.5s; }

.switch-button-header { display: inline-block; }

.switch-button-header input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.switch-button-header input[type="checkbox"]:checked + label { color: #fff; background: #002a70; }

.switch-button-header input[type="checkbox"]:checked + label:before { text-indent: 20px; content: "Right"; }

.switch-button-header input[type="checkbox"]:checked + label:after { content: ""; right: calc(100% - 20px); }

.switch-button-header label { cursor: pointer; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 12px; font-weight: 500; width: 60px; color: #fff; padding: 3px; text-align: center; border-radius: 16px; background: #002a70; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: 0.5s; transition: 0.5s; }

.switch-button-header label:before { text-indent: 10px; content: "Left"; color: #fff; font-size: 12px; }

.switch-button-header label:after { content: ""; position: absolute; right: 4px; top: 50%; margin-top: -8px; width: 16px; height: 16px; border-radius: 50%; background: #fff; -webkit-transition: right 0.5s; transition: right 0.5s; }

.field-btn-re { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 20px; background-color: #f4f4f4; }

.field-btn-re .inp-field-area { margin-right: 8px; }

.field-btn-re .btn-re { width: 32px; height: 32px; border-radius: 4px; background: #dcdcdc url("/assets/images/icon/icon-re.svg") no-repeat 50% 50%; text-indent: -9999px; cursor: pointer; }

.btn-group-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.btn-group-area.btn-group-bbs-w { padding-bottom: 20px; border-bottom: 1px solid #dcdcdc; }

.btngroup { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -6px; margin-left: -6px; }

.btngroup button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 6px; margin-left: 6px; height: 32px; border-radius: 8px; padding-left: 12px; padding-right: 12px; font-size: 14px; font-weight: 700; color: #fff; cursor: pointer; }

.btngroup button.btn-list { padding-right: 15.5px; padding-left: 17.5px; }

.btngroup button.btn-light { background-color: #f4f4f4; color: #666; }

.btngroup button .ico-list { display: block; width: 16px; height: 16px; margin-right: 10px; background: url("/assets/images/icon/icon-list.svg") no-repeat 50% 50%; }

.btngroup .btn-cancel { background-color: #ea6969; }

.btngroup .btn-save { background-color: #2763ba; }

.btngroup .btn-list { background-color: #aeaeae; }

.btngroup .btn-history { background-color: #48c28f; }

.btngroup .btn-down { background-color: #3c72c1; }

.btngroup .btn-choice-down { background-color: #f4f4f4; border: 1px solid #3c72c1; color: #3c72c1; }

.btngroup .btn-print { background-color: #8a8a8a; }

.btngroup .btn-light-gray { background-color: #aeaeae; }

.btngroup .btn-storage { background-color: #CC832D; }

.btngroup .btn-opinion { height: 40px; padding-right: 55px; padding-left: 20px; border-radius: 0; background-color: #f4f4f4; color: #2e2e2e; font-size: 14px; font-weight: 400; }

.btngroup .btn-close { height: 48px; padding-right: 30px; padding-left: 30px; background-color: #f4f4f4; color: #666; font-size: 16px; }

.btngroup .btn-approval { height: 48px; padding-right: 82px; padding-left: 82px; background-color: #2763ba; color: #fff; font-size: 16px; }

.btngroup .btn-zip { width: 26px; height: 26px; background: url("/assets/images/icon/icon-zip.svg") no-repeat; }

.btngroup .btn-pdf { width: 26px; height: 24px; background: url("/assets/images/icon/icon-pdf.svg") no-repeat; }

.btngroup.btn-round button { position: relative; height: 32px; padding-right: 10px; padding-left: 40px; border-radius: 32px; font-size: 14px; font-weight: 400; color: #fff; cursor: pointer; }

.btngroup.btn-round button.btn-preview { background-color: #6a57df; }

.btngroup.btn-round button.btn-preview .ico { background-color: #5a45dc; background-image: url("/assets/images/icon/icon-note4.svg"); }

.btngroup.btn-round button.btn-collect { background-color: #ea6969; }

.btngroup.btn-round button.btn-collect .ico { background-color: #e85959; background-image: url("/assets/images/icon/icon-re.svg"); }

.btngroup.btn-round button.btn-eye { background-color: #3c72c1; }

.btngroup.btn-round button.btn-eye .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon-eye.svg"); }

.btngroup.btn-round button.btn-download { background-color: #3c72c1; }

.btngroup.btn-round button.btn-download .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon-all-download-s-w.svg"); }

.btngroup.btn-round button.btn-pencil { background-color: #3c72c1; }

.btngroup.btn-round button.btn-pencil .ico { background-color: #2763ba; background-image: url("/assets/images/icon/ico-pencil.svg"); }

.btngroup.btn-round button.btn-pencil { background-color: #3c72c1; }

.btngroup.btn-round button.btn-pencil .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon-pencil.svg"); }

.btngroup.btn-round button.btn-arrtop { background-color: #3c72c1; }

.btngroup.btn-round button.btn-arrtop .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon-arr-top.svg"); }

.btngroup.btn-round button.btn-preserve { background-color: #5ac89a; }

.btngroup.btn-round button.btn-preserve .ico { background-color: #48c28f; background-image: url("/assets/images/icon/icon-cube.svg"); }

.btngroup.btn-round button.btn-delete { background-color: #ea6969; }

.btngroup.btn-round button.btn-delete .ico { background-color: #e85959; background-image: url("/assets/images/icon/icon-trash.svg"); }

.btngroup.btn-round button.btn-compan { background-color: #ea6969; }

.btngroup.btn-round button.btn-compan .ico { background-color: #e85959; background-image: url("/assets/images/icon/icon-compan.svg"); }

.btngroup.btn-round button.btn-note5 { background-color: #d18f42; }

.btngroup.btn-round button.btn-note5 .ico { background-color: #cc832d; background-image: url("/assets/images/icon/icon-note5.svg"); }

.btngroup.btn-round button.btn-approval { background-color: #d18f42; }

.btngroup.btn-round button.btn-approval .ico { background-color: #cc832d; background-image: url("/assets/images/icon/icon_approval2.svg"); }

.btngroup.btn-round button.btn-approval.blue { background-color: #3c72c1; }

.btngroup.btn-round button.btn-approval.blue .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon_approval2.svg"); }

.btngroup.btn-round button.btn-submit { background-color: #3c72c1; }

.btngroup.btn-round button.btn-submit .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon-trash.svg"); }

.btngroup.btn-round button.btn-find2 { background-color: #3c72c1; }

.btngroup.btn-round button.btn-find2 .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon-find2.svg"); }

.btngroup.btn-round button.btn-find3 { background-color: #6a57df; }

.btngroup.btn-round button.btn-find3 .ico { background-color: #5a45dc; background-image: url("/assets/images/icon/icon-find2.svg"); }

.btngroup.btn-round button.btn-setting { background-color: #278c62; }

.btngroup.btn-round button.btn-setting .ico { background-color: #278c62; background-image: url("/assets/images/icon/icon-setting.svg"); }

.btngroup.btn-round button.btn-print { background-color: #aeaeae; }

.btngroup.btn-round button.btn-print .ico { background-color: #8a8a8a; background-image: url("/assets/images/icon/icon-small-print.svg"); }

.btngroup.btn-round button.btn-delete { background-color: #ea6969; }

.btngroup.btn-round button.btn-delete .ico { background-color: #e85959; background-image: url("/assets/images/icon/icon-small-trash.svg"); }

.btngroup.btn-round button.btn-modify { background-color: #6a57df; }

.btngroup.btn-round button.btn-modify .ico { background-color: #5a45dc; background-image: url("/assets/images/icon/icon-small-modify.svg"); }

.btngroup.btn-round button.btn-viewer { background-color: #3C9771; }

.btngroup.btn-round button.btn-viewer .ico { background-color: #207350; background-image: url("/assets/images/icon/icon-viewer.svg"); }

.btngroup.btn-round button.btn-redraft { background-color: #3c72c1; }

.btngroup.btn-round button.btn-redraft .ico { background-color: #2763ba; background-image: url("/assets/images/icon/icon_approval2.svg"); }

.btngroup.btn-round button.btn-sms { background-color: #d18f42; }

.btngroup.btn-round button.btn-sms .ico { background-color: #cc832d; background-image: url("/assets/images/icon/icon-mobile.svg"); }

.btngroup.btn-round button.btn-initialize { color: #000; background-color: #F4F4F4; }

.btngroup.btn-round button.btn-initialize .ico { background-color: #DCDCDC; background-image: url("/assets/images/icon/icon-initialize.png"); }

.btngroup.btn-round button.btn-send { background-color: #725DF2; }

.btngroup.btn-round button.btn-send .ico { background-color: #5A45DC; background-image: url("/assets/images/icon/icon-send.svg"); }

.btngroup.btn-round button.btn-receive { background-color: #4C5AD9; }

.btngroup.btn-round button.btn-receive .ico { background-color: #3F4ED6; background-image: url("/assets/images/icon/ico-plus3.png"); }

.btngroup.btn-round button.small { font-size: 12px; height: 20px; margin-left: 2px; margin-right: 2px; padding-left: 30px; }

.btngroup.btn-round button.small .ico { width: 20px; height: 20px; }

.btngroup.btn-round button .ico { position: absolute; left: 0; top: 0; display: block; height: 32px; width: 32px; border-radius: 50%; background: no-repeat 50% 50%; }

.btngroup.btn-round button.small2 { font-size: 12px; height: 20px; margin-left: 2px; margin-right: 2px; padding-left: 9px; border-radius: 8px; }

.w220 { width: 220px; }

.flag { display: inline-block; height: 20px; line-height: 20px; padding-left: 8px; padding-right: 8px; border-radius: 4px; color: #fff; font-size: 12px; font-weight: 700; vertical-align: middle; }

.flag-danger { background-color: #e85959; }

.flag-success { background-color: #48c28f; }

.btnstate { display: inline-block; height: 20px; padding-left: 8px; padding-right: 8px; border-radius: 8px; line-height: 19px; vertical-align: middle; }

.btnstate.btnstate-type1 { border: 1px solid #aeaeae; background-color: #aeaeae; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type2 { border: 1px solid #dcdcdc; background-color: #ebebeb; color: #aeaeae; font-size: 12px; font-weight: 400; }

.btnstate.btnstate-type3 { border: 1px solid #38a8e6; background-color: #38a8e6; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type4 { border: 1px solid #48c28f; background-color: #48c28f; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type5 { border: 1px solid #e85959; background-color: #e85959; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate.btnstate-type6 { border: 1px solid #cc832d; background-color: #cc832d; font-size: 12px; font-weight: 700; color: #fff; }

.btnstate-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.btnstate-group { margin-bottom: 4px; }

.plate { height: 40px; padding: 10px 12px; border-radius: 4px; font-size: 14px; font-weight: 700; color: #fff; }

.plate-blue { background-color: #3f4ed6; }

.plate-lightblue { background-color: #38a8e6; }

.plate-lightgray { background-color: #ebebeb; color: #666; }

.plate-darkgray { background-color: #8a8a8a; }

.plate-green { background-color: #3c9771; }

.plate-darkorange { background-color: #cc832d; }

.plate-lightgreen { background-color: #48c28f; }

.plate-purple { background-color: #5a45dc; }

.plate-dash-green { color: #278c62; background-color: #fff; border: 1px dashed #278c62; }

.plate-outer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.plate-outer .plate { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.ico-reply { width: 24px; height: 24px; margin-right: 8px; background: url("/assets/images/icon/icon-reply.svg") no-repeat 50% 50%; }

.chcekboxgroup, .radiogroup { margin-left: -6px; }

.chcekboxgroup input[type="checkbox"] + label, .chcekboxgroup input[type="radio"] + label, .radiogroup input[type="checkbox"] + label, .radiogroup input[type="radio"] + label { margin-left: 6px; margin-right: 6px; }

input[type="checkbox"], input[type="radio"] { display: none; }

input[type="checkbox"] + label, input[type="radio"] + label { color: #666; font-size: 14px; }

input[type="checkbox"] + label span, input[type="radio"] + label span { display: inline-block; width: 12px; height: 12px; margin: -2px 8px 0 0; vertical-align: middle; border: 1px solid #000; border-radius: 1px; background: #fff; cursor: pointer; }

input[type="checkbox"]:hover + label span, input[type="radio"]:hover + label span { -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); }

input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span { background: #000 url("/assets/images/icon/icon-check.svg") no-repeat 50% 50%; background-size: 6.5px 4.5px; }

input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label { cursor: no-drop; }

input[type="checkbox"]:disabled + label span, input[type="radio"]:disabled + label span { position: relative; border: 1px solid #000; background: #dcdcdc; cursor: no-drop; -webkit-box-shadow: none; box-shadow: none; }

input[type="checkbox"]:disabled + label span:before, input[type="radio"]:disabled + label span:before { content: ""; position: absolute; left: 2px; top: 5px; width: 6px; height: 1px; background: #000; }

input[type="radio"] + label span { border-radius: 50%; }

.tooltip-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.tooltip-area a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 8px; margin-right: 8px; }

.ui-tooltip, .arrow:after { display: inline-block; background: black; border: 0; }

.ui-tooltip { width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding: 12px; color: white; border-radius: 8px; font-size: 14px; font-weight: 400; -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); }

.ui-tooltip .arrow { width: 70px; height: 16px; overflow: hidden; position: absolute; left: 50%; bottom: -12px; }

.ui-tooltip .arrow.top { top: -12px; bottom: auto; }

.ui-tooltip .arrow.left { left: 59px; }

.ui-tooltip .arrow:after { content: ""; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; -webkit-box-shadow: 6px 5px 9px -9px black; box-shadow: 6px 5px 9px -9px black; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.ui-tooltip .arrow.top:after { bottom: -20px; top: auto; }

.ui-tooltip.tooltip-right .arrow { left: 100%; bottom: -12px; }

.breadcrumb-sel { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.breadcrumb-sel .ico-arr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 20px; height: 20px; margin-left: 4px; margin-right: 4px; }

.breadcrumb-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 28px; padding-left: 10px; padding-right: 10px; border-radius: 28px; font-size: 12px; font-weight: 700; color: #666; }

.breadcrumb-btn.default { background-color: #f4f4f4; }

.breadcrumb-btn:after { content: ""; display: block; width: 16px; height: 16px; margin-left: 10px; background: url("/assets/images/icon/icon-arr-btm-s.svg") no-repeat 50% 50%/13px 13px; }

.breadcrumb-btn.success { background-color: #2763ba; color: #fff; }

.breadcrumb-btn.success:after { background-image: url("/assets/images/icon/icon-arr-btm-s-white.svg"); }

.breadcrumb-btn-sel { position: relative; }

.breadcrumb-btn-sel .dropdown { position: absolute; width: 140px; z-index: 100; left: 0; top: 32px; border: 1px solid #666; color: #666; font-size: 12px; font-weight: 700; background-color: #fff; -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24); }

.breadcrumb-btn-sel .dropdown li { color: #666; }

.breadcrumb-btn-sel .dropdown li a { display: block; height: 33px; padding-left: 9px; line-height: 33px; width: 100%; text-decoration: none; text-align: left; }

.breadcrumb-btn-sel .dropdown li a:hover { background-color: #F4F4F4; font-weight: 700; color: #000; }

.breadcrumb-sel-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.breadcrumb-sel-btn:not(:last-child):after { width: 14px; height: 14px; content: ""; display: block; background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: contain; background-image: url("/assets/images/icon/ico-arr-breadbtn.svg"); margin: 0 8px; }

.chk-all-area { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 28px; padding-right: 12px; padding-left: 12px; border-radius: 4px; border: 1px solid #dcdcdc; background-color: #f4f4f4; color: #666; font-size: 12px; font-weight: 700; }

.chk-all-field { margin-right: 8px; }

.chk-all-field input[type="checkbox"] + label { display: block; width: 12px; height: 12px; border: #000 solid 1px; background-color: #fff; cursor: pointer; }

.chk-all-field input[type="checkbox"]:checked + label { background: #000 url("/assets/images/icon/ico-chk-bg.svg") no-repeat center center; }

.field-sch-uc { display: -webkit-box; display: -ms-flexbox; display: flex; }

.field-sch-uc .inp-field-area { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.field-sch-uc .inp-field-area .inp-field { height: 36px; color: #000; font-weight: 700; padding-right: 70px; }

.field-sch-uc .inp-field-area .inp-field.refresh { padding-left: 40px; }

.field-sch-uc .btn-delete { position: absolute; top: 50%; right: 40px; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; height: 20px; background: url("/assets/images/icon/ico-delete.svg") no-repeat 50% 50%; cursor: pointer; }

.btn-reset { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 8px; height: 36px; border-radius: 8px; padding-left: 12px; padding-right: 12px; color: #fff; font-weight: 700; }

.btn-reset.success { background: #2763ba; }

.btn-reset:before { content: ""; display: block; width: 20px; height: 20px; margin-right: 8px; background: url("/assets/images/icon/icon-reset.svg") no-repeat 50% 50%; }

.btn-refresh { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 12px; width: 20px; height: 20px; border-radius: 4px; background: #f4f4f4 url("/assets/images/icon/ico-refresh.svg") no-repeat 50% 50%; }

.appico { display: inline-block; width: 20px; height: 20px; background: no-repeat 50% 50%; text-indent: -9999px; }

.appico.ico-clip { background-image: url("/assets/images/icon/icon_paperclip.svg"); }

.appico.ico-note { background-image: url("/assets/images/icon/icon-note.svg"); }

.appico.ico-message { background-image: url("/assets/images/icon/icon-chat-text.svg"); }

.appico.ico-user { background-image: url("/assets/images/icon/icon-user.svg"); }

.appico.ico-clipboard { background-image: url("/assets/images/icon/icon-clipboard.svg"); }

.appico.ico-clipboard-bl { background-image: url("/assets/images/icon/icon-clipboard-blue.svg"); }

.appbtn { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 32px; border-radius: 8px; padding-left: 12px; padding-right: 12px; color: #fff; font-size: 12px; font-weight: 700; }

.appbtn.btn-setting { background-color: #278C62; }

.appbtn .ico-setting { display: block; width: 16px; height: 16px; margin-right: 8px; background: url("/assets/images/icon/icon-setting.svg") no-repeat 5% 50%; }

.appbtn.gray-light { height: 28px; background-color: #F4F4F4; color: #666; }

.appbtn.gray-light.r4 { border-radius: 4px; }

.appbtn.gray-light .ico-all-download { display: block; width: 16px; height: 16px; margin-right: 8px; background: url("/assets/images/icon/icon-all-download-s.svg") no-repeat 5% 50%; }

.board-btn { height: 28px; padding-left: 12px; padding-right: 12px; border-radius: 8px; color: #fff; font-size: 12px; font-weight: 700; }

.board-btn.r4 { border-radius: 4px; }

.board-btn.second-blue { background-color: #3F4ED6; }

.board-btn.blue { background-color: #2763BA; }

.board-btn.second-orange { background-color: #CC832D; }

.board-btn.gray { background-color: #AEAEAE; }

.board-btn.light-gray { background-color: #F4F4F4; color: #AEAEAE; }

.board-btn.red { background-color: #EA6969; color: #fff; }

.board-btn-b { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 48px; border-radius: 8px; font-size: 16px; font-weight: 700; color: #666; }

.board-btn-b.gray-light { background-color: #F4F4F4; }

.board-btn-b.blue { background-color: #2763BA; color: #fff; }

.board-btn-b.cancel-red { background-color: #EA6969; color: #fff; }

.alert-board { position: relative; z-index: 100; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 56px; padding-left: 12px; padding-right: 15px; border-radius: 8px; background-color: #38A8E6; color: #fff; font-weight: 700; -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.24); }

.alert-board .ico-check { display: block; width: 32px; height: 32px; margin-right: 12px; background: url("/assets/images/icon/ico-check.svg") no-repeat 50% 50%; }

.btn-delete-s { width: 20px; height: 20px; background: url("/assets/images/icon/icon-delete-square-s.svg") no-repeat 50% 50%; text-indent: -9999px; }

.w180 { width: 180px; }

.w200 { width: 200px; }

.w600 { width: 600px; }

.w700 { width: 700px; }

.w394 { width: 394px; }

.w260 { width: 260px; }

.w320 { width: 320px; }

.w84 { width: 84px; }

.w168 { width: 168px; }
/*# sourceMappingURL=modal.css.map */